<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Alternative - Claim notice - Increased hours</title>

    <!--[if gt IE 8]><!--><link href="../govuk/public/stylesheets/govuk-template.css?0.11.0" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="../govuk/public/stylesheets/govuk-template-ie6.css?0.11.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="../govuk/public/stylesheets/govuk-template-ie7.css?0.11.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="../govuk/public/stylesheets/govuk-template-ie8.css?0.11.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="../govuk/public/stylesheets/govuk-template-print.css?0.11.0" media="print" rel="stylesheet" type="text/css" />

	<!--Clara trying to add styles from express prototype-->
	<link href="../public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="../public/stylesheets/examples.css" media="screen" rel="stylesheet" type="text/css" />


     <!--[if gte IE 9]><!-->
      <link href="../govuk/public/stylesheets/fonts.css?0.11.0" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="../govuk/public/javascripts/ie.js?0.11.0" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="../govuk/public/images/favicon.ico?0.11.0" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:image" content="govuk/public/images/opengraph-image.png?0.11.0"/>

    <style type="text/css">
	  main { max-width: 960px; margin: 0 15px; }
	  @media (min-width: 641px) { main { margin: 0 30px; } }
	  @media (min-width: 1020px) { main { margin: 0 auto; } }
	</style>


	<script type="text/javascript" src="../govuk/public/javascripts/govuk-template.js"></script>
	<script type="text/javascript" src="../govuk/public/javascripts/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../govuk/public/javascripts/jquery.details.min.js"></script>

    
    <script type="text/javascript">
    	$( document ).ready(function() {
    	  	$("#more_than_one_number").hide();
    	  	
    		$("#more_than_one_yes").click(function(){
    			if ($("#more_than_one_yes").prop("checked") == true){
    	    		$("#more_than_one_number").show();
    	    	}
    	    });
    	    $("#more_than_one_no").click(function(){
    			if ($("#more_than_one_no").prop("checked") == true){
    	     		$("#more_than_one_number").hide();
    	    	}
    	    });
    	});
    </script>

  </head>

  <body class="">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <div class="outer-block">
        <div class="inner-block">
          
            
          
        </div>
      </div>
    </div>
    <!--end global-cookie-message-->

    
    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="../govuk/public/images/gov.uk_logotype_crown.png?0.11.0" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
          
        </div>
        
      </div>
    </header>
    <!--end header-->
    

    

    <div id="global-header-bar">
      <div class="inner-block">
        <div class="header-bar"></div>
      </div>
    </div>
    <!--end global-header-bar-->


<main id="content" role="main">



	<div class="inner-block">
	    <div class="phase-banner">
	            <p>
	                <strong class="phase-tag">BETA</strong>
	                This is a new service - your <a href="https://www.surveymonkey.com/s/RBW8HYW" target="_blank">feedback</a> will help us improve it
	            </p>
	    </div>
	</div>

	<div>
		<div class="inner-block text">
			<div>
				<h1 class="form-title heading-xlarge">Increased hours details</h1>
				
				<!-- Notice period reminder -->
				<!-- ====================== -->
				
				
				<div class="panel-indent">
				    <p>
				        Please tell us what you did during these dates:<br>
				        <span class="bold-xsmall">01 October 2014</span> and <span  class="bold-xsmall">01 November 2014</span> (the notice period)
				    </p>
				</div>
				
				<p>Tell us about the increased hours you started during the notice period.</p>
				
				<!-- Details of job -->
				<!-- =================== -->
				
				<div class="form-group">
					<label class="form-label-bold" for="Job-title">Job title</label>
					<input class="form-control-3-4" id="Job-title" type="text">
				</div>
				
				<div class="form-group">
					<label class="form-label-bold">Are you self employed in this job?</label>
					<fieldset class="inline" id="self-employed">
						<label class="block-label" for="self-employed_yes">
							<input id="self-employed_yes" type="radio" name="self-employed" value="Yes">Yes
						</label>
						<label class="block-label" for="self-employed_no">
							<input id="self-employed_no" type="radio" name="self-employed" value="No">No
						</label>						  
					</fieldset>		
				</div>
				
				<div class="form-group">
					<label class="form-label-bold" for="company_name">Company name</label>
					<input class="form-control-3-4" id="company_name" type="text">
				</div>
				
				<div class="form-group">
					<label class="form-label-bold" for="company_address_1">Company address</label>
					<span class="form-label">Building and street</span>
					  </label>
					<input class="form-control-3-4" id="company_address_1" type="text">
					<p>
					<input class="form-control-3-4" id="company_address_2" type="text">
				</div>

				<div class="form-group">
					<label class="form-label" for="town">Town or city</label>
					<input class="form-control-3-4" id="town" type="text">
				</div>
				
				<div class="form-group">
					<label class="form-label" for="town">County (optional)</label>
					<input class="form-control-3-4" id="town" type="text">
				</div>

				<div class="form-group">
					<label class="form-label" for="town">Postcode (optional)</label>
					<input class="form-control-3-4" id="town" type="text">
				</div>
				
				
				<!-- Buttons -->
				<!-- ======= -->
				
												
				<a href="13_increased_hours_dates.html" class="button" role="button">Save and continue</a>
				<br />
				<br />
				<a style="padding-right: 30px" href="11_employment.html" id="back">Back</a>	
				<a href="" id="cancel">Cancel and delete all details</a>					
					
			</div>	
		</div>
	</div>
	
</main>

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        

        <div class="footer-meta">
          <div class="footer-meta-inner">
            

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="../govuk/public/javascripts/govuk-template.js?0.11.0" type="text/javascript"></script>

    
  </body>
</html>




