<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Alternative - Claim notice - Benefits received</title>

    <!--[if gt IE 8]><!--><link href="../govuk/public/stylesheets/govuk-template.css?0.11.0" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="../govuk/public/stylesheets/govuk-template-ie6.css?0.11.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="../govuk/public/stylesheets/govuk-template-ie7.css?0.11.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="../govuk/public/stylesheets/govuk-template-ie8.css?0.11.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="../govuk/public/stylesheets/govuk-template-print.css?0.11.0" media="print" rel="stylesheet" type="text/css" />

	<!--Clara trying to add styles from express prototype-->
	<link href="../public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


     <!--[if gte IE 9]><!-->
      <link href="../govuk/public/stylesheets/fonts.css?0.11.0" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="../govuk/public/javascripts/ie.js?0.11.0" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="../govuk/public/images/favicon.ico?0.11.0" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:image" content="govuk/public/images/opengraph-image.png?0.11.0"/>

    <style type="text/css">
	  main { max-width: 960px; margin: 0 15px; }
	  @media (min-width: 641px) { main { margin: 0 30px; } }
	  @media (min-width: 1020px) { main { margin: 0 auto; } }
	</style>


	<script type="text/javascript" src="../govuk/public/javascripts/govuk-template.js"></script>
	<script type="text/javascript" src="../govuk/public/javascripts/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../govuk/public/javascripts/jquery.details.min.js"></script>


    <script type="text/javascript">
		$( document ).ready(function() {
		  	$("#didnt_apply_reason").hide();
		  	
			$("#JSA_applied_Yes").click(function(){
				if ($("#JSA_applied_Yes").prop("checked") == true){
		    		$("#didnt_apply_reason").hide();
		    	}
		    });
		    $("#JSA_applied_No").click(function(){
				if ($("#JSA_applied_No").prop("checked") == true){
		     		$("#didnt_apply_reason").show();
		    	}
		    });
		});
    </script>


	<script type="text/javascript">
		$( document ).ready(function() {
		  	$("#was_application_successful").hide();
		  	
			$("#JSA_applied_Yes").click(function(){
				if ($("#JSA_applied_Yes").prop("checked") == true){
					$("#was_application_successful").show();
				}
			});
			$("#JSA_applied_No").click(function(){
				if ($("#JSA_applied_No").prop("checked") == true){
			 		$("#was_application_successful").hide();
				}
			});
		});
	</script>


  </head>

  <body class="">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <div class="outer-block">
        <div class="inner-block">
          
            
          
        </div>
      </div>
    </div>
    <!--end global-cookie-message-->

    
    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="../govuk/public/images/gov.uk_logotype_crown.png?0.11.0" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
          
        </div>
        
      </div>
    </header>
    <!--end header-->
    

    

    <div id="global-header-bar">
      <div class="inner-block">
        <div class="header-bar"></div>
      </div>
    </div>
    <!--end global-header-bar-->


<main id="content" role="main">



	<div class="inner-block">
	    <div class="phase-banner">
	            <p>
	                <strong class="phase-tag">BETA</strong>
	                This is a new service - your <a href="https://www.surveymonkey.com/s/RBW8HYW" target="_blank">feedback</a> will help us improve it
	            </p>
	    </div>
	</div>

	<div>
		<div class="inner-block text">
			<div>
				<h1 class="form-title heading-xlarge">Benefits received</h1>
				
				<div class="panel-indent">
				    <p>
				        Please tell us what you did during these dates:<br>
				        <span class="bold-xsmall">01 October 2014</span> and <span  class="bold-xsmall">01 November 2014</span> (the notice period)
				    </p>
				</div>
				
				
				<div class="form-group">
				
				
				<!-- Jobseekers Allowance -->
				
					<label class="form-label-bold claim_reference">Did you apply for Jobseekers Allowance during the notice period?</label>				
				
					<fieldset class="inline">
						  <label class="block-label" for="JSA_applied_Yes">
						    <input id="JSA_applied_Yes" type="radio" name="JSA_applied" value="Yes">
						    Yes
						  </label>
						  <label class="block-label" for="JSA_applied_No">
						    <input id="JSA_applied_No" type="radio" name="JSA_applied" value="No">
						    No
						  </label>						  
					</fieldset>
					
					<div id="didnt_apply_reason" class="panel-indent">
					      <div class="form-group">
					      	<br>
					      	<label class="form-label">Why didn't you apply?</label>
					      	<textarea id="bonus-details" class="form-control"></textarea>
					      	
					      </div>
					</div>
				
					<div id="was_application_successful" class="panel-indent">
						<div class="form-group">
							<br>
							<label class="form-label">Was your application successful?</label>
							<fieldset class="inline">
								  <label class="block-label" for="JSA_successful_Yes">
								    <input id="JSA_successful_Yes" type="radio" name="JSA_successful" value="Yes">
								    Yes
								  </label>
								  <label class="block-label" for="JSA_successful_No">
								    <input id="JSA_successful_No" type="radio" name="JSA_successful" value="No">
								    No
								  </label>						  
							</fieldset>
						</div>
					</div>
					
					<br>
					<br>
					
					<!-- Other benefits -->
					
					<p></p>
					
					<label class="form-label-bold claim_reference">Which other benefits did you receive in the notice period?</label>				
					
					<div id="benefits_options" class="form-group form-group-compound">
					        					        
					            <label id="_label" for="benefits_options-2" class="block-label">
					                <input id="benefits_options-2" name="benefits_options-2" value="employment-and-support-allowance" type="checkbox">Employment and Support Allowance
					            </label>
					        
					            <label id="_label" for="benefits_options-3" class="block-label">
					                <input id="benefits_options-3" name="benefits_options-3" value="housing-benefit" type="checkbox">Housing Benefit
					            </label>
					        
					            <label id="_label" for="benefits_options-4" class="block-label">
					                <input id="benefits_options-4" name="benefits_options-4" value="income-support" type="checkbox">Income Support
					            </label>
					        
					            <label id="_label" for="benefits_options-5" class="block-label">
					                <input id="benefits_options-5" name="benefits_options-5" value="maternity-allowance" type="checkbox">Maternity Allowance
					            </label>
					        
					            <label id="_label" for="benefits_options-6" class="block-label">
					                <input id="benefits_options-6" name="benefits_options-6" value="pension-credit" type="checkbox">Pension Credit
					            </label>
					        
					            <label id="_label" for="benefits_options-7" class="block-label">
					                <input id="benefits_options-7" name="benefits_options-7" value="sickness-and-bereavement-allowance" type="checkbox">Sickness and Bereavement Allowance
					            </label>
					        
					            <label id="_label" for="benefits_options-8" class="block-label">
					                <input id="benefits_options-8" name="benefits_options-8" value="universal-credit" type="checkbox">Universal Credit
					            </label>
					            
					            
				         	</div>
				         	
				         	<div id="another_benefit" class="form-group"></div>
					            
					            <label class="form-label" for="ni-number">
					                Another benefit
					                <span class="form-hint">enter the name of the benefit you received</span>
					              </label>
					              <input class="form-control" type="text">
					            
																            
					        
					    </div>
					
					
					
				</div>
				
        		
        		
        		
        		
				<a href="5_jobseekers_allowance_dates.html" class="button" role="button">Save and continue</a>
				<br />
				<br />
        		<a style="padding-right: 30px" href="/claims/start" id="back">Back</a>	
				<a href="" id="cancel">Cancel and delete all details</a>
				<br />
				<br />
			</div>
					
					
					
				</div>		
			</div>	
		</div>
	</div>
	
</main>

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        

        <div class="footer-meta">
          <div class="footer-meta-inner">
            

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="../govuk/public/javascripts/govuk-template.js?0.11.0" type="text/javascript"></script>

    
  </body>
</html>




