input, input.form-control, textarea {
  border: 2px solid #6f777b;
  border-radius: 0;
  box-shadow: none;
  border-color: #6f777b;
}

input:focus, input.form-control:focus {
  border: 2px solid #FFBF47;
  box-shadow: none;
}

.panel.panel-border-wide {
  border-left-width: 10px;
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 0.7894736842em;
  margin: 40px 0;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  box-shadow: none;
}

.panel.panel-border-wide p {
  margin: 0;
}

.panel.panel-border-wide i.glyphicon {
	font-size: 2.6em;
	color: #a0a3a7;
	margin: 0 10px 10px 0;
	float: left;
}

/* ------------------------ Payment Overide Styles Start - V1 ------------------------ */

.panel-primary {
	margin-bottom: 0;
	text-align: center;
	padding: 15px;
}

.panel-primary.no-button .updated-text {
	margin-bottom: 0;
}

.panel-primary.no-button .payment-amount {
	color: #005ea5;
}

.panel-primary h2 {
	font-size: 18px;
	margin: 0 0 10px 0;
}

.panel-primary .payment-amount {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0px;
}

.panel-primary .text-muted {
	margin-bottom: 0;
	display: block;
	color: black;
	font-size: 22px;
}

.panel-primary .updated-text {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 12px;
}

.panel-primary .button {
	margin: 20px 0 0 0;
}

#payment-info {
	margin: 10px 0 0 0;
}

/* ------------------------ Payment Overide Styles End - V1 ------------------------ */

/* ------------------------ Payment Overide Styles Start - V2 ------------------------ */
/*.payment-summary-small {
	border: 5px solid #DEE0E2;
	background-color: #F8F8F8;
	padding: 15px;
	margin-bottom: 10px;
}

.payment-summary-small.no-button .updated-text {
	margin-bottom: 0;
}

.payment-summary-small h2 {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 0;
	margin-top: 5px;
	color: black;
}

.payment-summary-small h3 {
	font-size: 18px;
	color: black;
	opacity: 0.5;
	margin-top: 0;
}*/

/*.payment-summary-small .payment-info {
font-weight: 700;
color: white;
}*/

/*.payment-summary-small .payment-amount {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0px;
	color: black;
}

.payment-summary-small .updated-text {
	margin-bottom: 20px;
	font-size: 12px;
	opacity: 0.9;
	color: black;
}

.payment-summary-small .button {
	margin: 0px;
}*/

/* ------------------------ Payment Overide Styles End - V2 ------------------------ */

/* ------------------------ General CSS changes Start ------------------------ */

a.secondary-link {
  margin-top: 10px;
  display: inline-block;
}

div[class^="col-sm-"], div[class*="col-sm-"] {
	text-align: left;
}

.govuk-box-highlight {
	margin: 0 0 1em 0;
	padding: 2em;
	color: #fff;
	background: #00823b;
	text-align: center;
}

.govuk-box-highlight h2.bold-large {
	margin: 0 0 0.35em 0;
}

.no-margin {
	margin: 0 !important;
}

.fail-box {
	background-color: #F47738;
	color: #ffffff;
	padding: 2em;
}

.fail-box h2 {
	margin: 0;
}

.helpline.heading-small {
	margin: 0 0 45px 0;
}

.helpline.heading-small .glyphicon {
	margin: 0 15px 0 0;
  color: black;
  font-size: 2.45em;
  float: left;
}

.validation-summary h2 {
	margin-top: 0;
}

.panel-indent {
	margin-top: 30px;
}

/*#proposition-name {
	float: right;
}*/

#panel-error-empty p {
	margin-bottom: 10px;
}

.form-hint {
	display: inline-block;
	width: 100%;
}

.col-sm-4 .form-hint {
	font-size: 16px;
	margin-bottom: 0;
}

.col-sm-8 .form-hint {
	font-weight: normal;
}

.payment-image {
	margin: 0 0 20px 0;
	padding: 0;
	border: none;
	/*float: right;*/
}

.payzone-locater {
	margin-top: 20px;
}
.payzone-locater input {
	width: 100px;
}

.barcode {
	padding-bottom: 30px;
}

.barcode img {
	padding: 30px;
	border: 1px solid gray;
	margin: auto;
	max-width: 500px;
}

.back {
	margin-top: 30px;
}

.form-navigation.form-group .back {
	margin-top: 10px;
}

.small-icon img {
	margin-right: 15px;
	width: 30px;
	height: 30px;
}

.related-container {
	padding: 0 15px;
	margin-top: 40px;
}

.related-container .related {
  border-top: 5px solid #005ea5;
  padding-top: 5px;
}

.related-container .related h2 {
	font-size: 24px;
	line-height: 1.25;
	font-weight: 400;
	font-weight: 600;
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	position: relative;
}

ul.help {
	list-style-type: disc;
	padding-left: 21px;
}

ul.help li {
	padding: 5px 0;
}

p + table {
	margin-top: 20px;
}

.not-an-applicant {
	padding:0 0 0 20px;
	border-left:1px solid #eeeeee;
	margin-top:50px;
}

.not-an-applicant h1 {
	margin:0 0 30px 0;
}

/* ------------------------ General CSS changes End ------------------------ */
