/* ------------------------ EBF Overide Styles - Start ------------------------ */

.col-sm-8{
  padding-left:0px!important;
}

#proposition-name {
	float: right;
}

.link-container .icon {
	display: inline-block;
	border-radius: 50%;
	width: 1.65em;
	height: 1.65em;
	background: black;
	/*margin-right: 0.5em;*/
	color: white;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	font-style: normal;
	padding-top: 0.2em;
}

.link-container .heading-small {
	float: left;
	width: 100%;
	margin: 0 0 0 0.5em;
}

.link-container a {
	float: left;
	width: 100%;
	margin: 0 0 0 0.5em;
}

table thead td {
	font-weight: bold;
}

table tr td {
	vertical-align: top;
	line-height: normal;
	padding: 0.73684em 1.05263em 0.73684em 0;
}

table tr td .form-hint {
	margin: 0;
	font-size: 14px;
}

table.table .glyphicon {
	margin-right: 3px;
}

table.table .label {
	margin-right: 0;
	font-size: 60%;
	width: 100%;
}

table.table .label.indicator {
	width: auto;
}

table.table tr th:first-of-type, table.table tr td:first-of-type {
	padding-left: 0;
}

table.table tr th:last-of-type, table.table tr td:last-of-type {
	padding-right: 0;
}

table.table tr.approval-needed {
	/*opacity: 0.75;*/
	background: #e7e7e7;
}

.glyphicon.approved {
	color: green;
}

nav.navbar .glyphicon {
	margin-right: 0;
}

nav.navbar .form-control{
	height: 35px;
}

nav.navbar ul.pagination {
	margin: 10px 0;
	float: right;
	height: 35px;
}

nav.navbar ul.pagination.see-all {
	margin-left: 10px;
}

nav.navbar ul.pagination li a, nav.navbar ul.pagination li a span {
	font-size: 16px !important;
}

.navbar-form {
	margin: 10px 0;
	padding: 0;
}

.label.label-info {
	color: white;
	background: #337ab7;
	border-color: #337ab7;
	padding: 7px 10px;
	display: inline-block;
}

.label.label-info.action {
	background: #a94442;
	border-color: #a94442;
}

.label.label-success {
	color: white;
	background: green;
	border-color: green;
	padding: 7px 10px;
	display: inline-block;
}

#status .well {
	border-radius: 0;
	margin: 20px 0 30px 0;
}

#status .well input {
	width: 100%;
}

.validation-summary ol {
	margin-bottom: 0;
}

.validation-summary h2 {
	margin-top: 0;
}

.subject .headin-medium {
	margin-top: 0;
}

input.log-in {
	width: 50%;
}

input.log-in-email {
 width: 80%;
}

#panel-error-empty ul {
 margin-bottom: 0;
}

#proposition-name.user-name {
 font-weight: normal !important;
}

.intro-banner {
 margin: 0;
 display: inline-block;
 width: 100%;
}

.intro-banner h1 {
	margin: 0 0 30px 0;
	/*height: 50px;*/
}

.intro-banner .panel-indent {
 margin: 0 15px 0 0;
}

.seperator {
	border-left: 1px solid #dfdfdf;
}

.inner-block .heading-medium {
	margin-bottom: 0;
}

.controls-delete, .controls-edit {
  cursor: pointer;
}

.form-inline .form-group {
  margin: 10px 0 20px 0;
}

input[type="radio"] {
  margin-right: 10px;
}

/* ------------------------ EBF Overide Styles - End ------------------------ */


/* ------------------------ Gov Highlight Box - Start ------------------------ */

.govuk-box-highlight {
	margin: 0 0 1em 0;
	padding: 1.5em 2em;
	color: #fff;
	text-align: center;
}

.govuk-box-highlight.top {
	margin-top: 2.25em;
}

.govuk-box-highlight h1.bold-large {
	margin: 0 0 0.35em 0;
}

.govuk-box-highlight h2.bold-large {
	margin: 0 0 0.35em 0;
}

.govuk-box-highlight.processing {
	background: #337ab7;
}

.govuk-box-highlight.awaiting {
	background: #8a6d3b;
}

.govuk-box-highlight.made {
	background: #3c763d;
}

.govuk-box-highlight.declined {
	background: #a94442;
}

.govuk-box-highlight p span {
	color: #fff;
}

.govuk-box-highlight p:last-of-type {
	margin-bottom: 0;
}

/* ------------------------ Gov Highlight Box - End ------------------------ */

/* ------------------------ Inline Edit - Start ------------------------ */

.edit {
	cursor: pointer;
}

.edit-input {
    display:none;
}

.control-label .text-info {
	display: inline-block;
}

textarea {
  resize: none;
	width: 100%;
	border-color: #dfdfdf;
}

table.table label {
	font-weight: normal;
}

.highlight {
	background: black;
	color: white;
}

/* ------------------------ Inline Edit - End ------------------------ */

/* ------------------------ Adjudicator - Start ------------------------ */

.ebf-intro {
  display: inline-block;
  width: 100%;
}

.ebf-intro h3 {
  margin-top: 20px;
}

.ebf-intro .panel-indent {
  margin: 10px 15px 15px 0;
}

/* ------------------------ Adjudicator - End ------------------------ */

/* ------------------------ Modal - Start ------------------------ */

.modal .heading-small {
  margin: 0 0 10px 0;
}

.modal .modal-header, .modal .modal-footer {
  border-top: 0;
  border-bottom: 0;
  text-align: left;
}

.modal .modal-footer {
  padding: 0 15px 15px 15px;
}

.modal .button {
  margin-bottom: 0;
}

.modal .text-link {
  margin: 0;
  border: none;
  background: none;
  padding: 0;
  color: #005ea5;
  margin-top: 10px;
  text-decoration: underline;
}

.modal .modal-content {
  border-radius: 0;
}

/* ------------------------ Modal - End ------------------------ */

/* ------------------------ Upload Function - Start ------------------------ */

#dragandrop {
	border: solid 3px;
	border-color:#DEE0E2;
	background-color: #DEE0E2;
	width: auto;
	min-height: 70px;
	color: #000000;
	text-align: center;
	/*vertical-align: middle;*/
	padding: 60px 10px 60px 10px;
	margin: 30px 0 20px 0;
	font-weight: bold;
	/*
	-webkit-box-shadow: 0 2px 0 #003518;
	-moz-box-shadow: 0 2px 0 #003518;
	box-shadow: 0 2px 0 #003518;*/
}

.statusbar2 {
	border-top: none;
	border-bottom: 1px solid #BFC1C3;
	border-left: 0;
	/*min-height: 25px;*/
	width: auto;
	padding: 10px 0 10px 0;
	vertical-align: top;
	font-size: 16px;
}

.statusbar2-title {
	font-weight:600;
}

.actionsh, .abort {
  width: 30%;
  display: inline-block;
  margin-left: 3%;
}

.filename2 {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	/*min-height: 25px;*/
	max-height: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  margin-right: 3%;
}

.progressBar2 {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	overflow: hidden;
  margin-right: 3%;
}
/* ------------------------ Upload Function - End ------------------------ */

/* ------------------------ Admin Control Panel - Start ------------------------ */

.header-panel {
  margin-bottom: 20px;
}

.header-panel h1 {
  margin-bottom: 20px;
}

.header-panel .panel-indent {
  margin-bottom: 0;
}

/*.panel.with-nav-tabs .nav-tabs {
  margin-top: 10px;
}*/

.panel-body {
  padding: 15px 20px;
}

table.application-summary tr td {
  padding: 5px 1.05263em 5px 0;
  border-bottom: 0;
}

.application {
  border: 1px solid #ddd;
  background: #f5f5f5;
  border-radius: 0;
  margin: 15px 0;
  background: white;
  display: flex;
  /*flex-direction: column;*/
}

.application h2.heading-medium {
  margin: 0 0 10px 0;
  font-weight: normal;
}

.application-left {
  padding: 20px !important;
  background: #f5f5f5;
  border-radius: 0;
  border-right: 1px solid #ddd;
}

.application-right {
  padding: 20px !important;
}

.application-left, .application-right {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*align-self: flex-start;*/
}

.application-left {
  display: block;
}

.application-right label > input {
  margin-right: 10px;
}

.application-right .form-group {
  margin-bottom: 20px;
}

.application-right .form-group:last-of-type {
  margin-bottom: 0;
}

.application-right .form-group .col-sm-5 {
  padding-left: 0;
}

.application-right .form-group input.col-sm-7 {
  padding: 2px;
}

.application-right .form-group label {
  margin: 5px 0 0px 0;
}

.application-right .controls-delete {
  margin-top: 9px;
  display: inline-block;
}

.application-right .button {
  margin-bottom: 0;
}


/*.completion-message {
	margin-bottom: 0;
}*/

.completion-message p {
	font-size: 19px;
	float: left;
	margin-top: 14px;
}

.completion-message i.glyphicon {
	font-size: 3em;
	color: #b1b3b6;
	margin-right: 10px;
	float: left;
}


/* ------------------------ Admin Control Panel - End ------------------------ */

/* ------------------------ Tabs Control Panel Overide - Start ------------------------ */

#admin-panel {
  border: none;
  box-shadow: none;
  margin-bottom: 40px;
}

#admin-panel .panel-heading {
  background: none;
  padding: 0;
}

#admin-panel .panel-heading ul li {
  background: #f5f5f5;
  border: none;
  border-radius: none;
  margin-right: 8px;
  padding: 0;
}

#admin-panel .panel-heading ul li.active {
  background: #ebebeb;
  border-top: 8px solid #005ea5;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

#admin-panel .panel-heading ul li a {
  background: none;
  border: none;
  padding: 20px;
  color: black;
  margin: 0;
}

#admin-panel .panel-body {
  padding: 0;
}

.header-search-content button.submit {
  border: 1px solid #0b0c0c;
  border-width: 0 0 0 1px;
  border-left-color: #222;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  text-indent: -5000px;
  cursor: pointer;
  color: #fff;
  background: #0b0c0c;
  position: relative;
  margin-left: -51px;
  width: 50px;
  height: 50px;
}

.header-search-content button.submit i.glyphicon-search {
  width: 20px;
  height: 20px;
  color: white;
  position: absolute;
  margin: 0;
  text-indent: 0;
  top: 15px;
  left: 13px;
}

.header-search-content label {
  display: none;
}

.header-search-content input {
  border: 4px solid #0b0c0c;
  padding: 10px;
  height: 50px;
  float: left;
  padding: 10px;
  width: 100%;
}

#search-applications .header-search-content {
  /*margin: 0 auto;*/
  width: 50%;
  float: left;
}

#search-applications .header-update-all {
  /*margin: 0 auto;*/
  width: 20%;
  float: left;
  text-align: right;
}

#search-applications .header-save-content {
  width: 30%;
  float: left;
}

#search-applications .header-save-content .button {
  margin: 0;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

#search-applications .header-update-all a {
  float: right;
  margin-top: 12px;
}

#search-results {
  display: none;
}

#no-results {
  display: none;
}

#change-all {
  margin: 20px 0 0 0;
  display: none;
}

#change-all .row > div {
  padding-top: 0;
}

#change-all input {
  width: 80%;
}

#change-all button {
  margin: 25px 0 0 0;
  float: right;
}

#update-all-notifications button#update-notifications, #update-all-owners button#update-owner {
  margin-top: 10px;
  background: none;
  border: none;
  color: #337ab7;
  padding: 0;
  text-decoration: underline;
  float: left;
}

#saved {
  display: none;
}

#saved .panel-indent {
  margin: 30px 15px 15px 0;
}

/*#recent-application h2 {
  margin-top: 0;
}
*/
#all-applications h2, #recent-application h2 {
  margin-bottom: 0.83333em;
}

#all-applications .application h2, #recent-application .application h2 {
  margin-bottom: 0;
}

#all-applications .change-all {
  margin-bottom: 30px;
}

/*#all-applications .change-all .row > div:first-child {
  padding-top: 15px;
}*/

/*#all-applications .change-all input {
  width: 80%;
}

#all-applications .change-all button {
  margin: 25px 0 0 0;
  float: right;
}*/

/* ------------------------ Tabs Control Panel Overide - End ------------------------ */

/* ------------------------ eBF Intro Banner - Start ------------------------ */

header.homepage-top {
  background: #005ea5;
  color: white;
  margin-bottom: 30px;
}

header.homepage-top .homepage-top-inner {
  padding: 20px 30px 30px 30px;
  text-align: left;
  margin: 0 auto;
  width: auto;
  max-width: 1020px;
  /*color: white;*/
}

/*header.homepage-top .homepage-top-inner:first-of-type {
  padding-bottom: 0;
}*/

header.homepage-top .phase-banner {
  border-bottom: 1px solid white;
  display: inline-block;
  width: 100%;
}

header.homepage-top .homepage-top-inner h1 {
  margin: 15px 0;
}

header.homepage-top .homepage-top-inner p {
  font-size: 19px;
  color: white;
}

header.homepage-top .homepage-top-inner .status {
  float: left;
  width: 75%;
}

header.homepage-top .homepage-top-inner .cta {
  float: right;
  width: 25%;
  text-align: right;
}

header.homepage-top .homepage-top-inner .cta a, header.homepage-top .homepage-top-inner .cta .glyphicon {
  color: white;
}

#global-header .header-wrapper .header-global .header-logo .content, #global-header.with-proposition .header-wrapper .header-proposition .content {
  margin: 0;
}


/* ------------------------ eBF Intro Banner - End ------------------------ */
