/* ------------------------ Overview Overide Styles - Start ------------------------ */

#proposition-menu {
	float: right;
}

ul li.row {
	margin: 0;
}

.rowtop {
	display: inline-block;
	/*width: 100%;*/
	padding: 10px !important;
	margin: 0;
}

.rowtop .button {
	display: inline-block;
	margin: 0 0 2px 0;
	float: right;
}

.rowtop {
	display: flex;
  align-items: center;
  justify-content: center;
}

.rowtop .col-sm-8 h3 {
	margin: 0 !important;
	color: black;
}

a.wrapper-button {
	background: #dee0e2;
	border-radius: 5px;
	display: inline-block;
  width: 100%;
}

a.wrapper-button:hover {
	background: #c2c5c8;
}



/* ------------------------ Overview Overide Styles - End ------------------------ */
