/* ------------------------ Overview Overide Styles - Start ------------------------ */

#proposition-menu {
	float: right;
}

ul li.row {
	margin: 0;
}

.rowtop {
	/*display: inline-block;*/
	/*width: 100%;*/
	padding: 15px 10px !important;
	margin: 0;
	display: flex;
  align-items: center;
  justify-content: center;
}

.rowtop .button {
	display: inline-block;
	margin: 0 0 2px 0;
	float: right;
	font-size: 22px;
}

.rowtop h3 {
	margin: 5px 0 0 0 !important;
	color: black !important;
	font-size: 26px;
	font-weight: bold;
}

.rowtop .heading-xlarge {
	float: left;
	margin: 0 10px 0 0;
	font-size: 65px;
	width: 40px;
	height: 60px;
	text-align: center;
	color: black;
}

a.wrapper-button:hover {
	text-decoration: none;
	cursor: pointer;
}

a.wrapper-button:hover button.edit {
	text-decoration: underline;
}


/*a.wrapper-button.well {
	display: inline-table;
  width: 100%;
	padding: 0;
	text-decoration: none;
	border: none;
	margin: 0;
	background: white;
}*/

/*a.wrapper-button:hover, a.wrapper-button.well:hover {
	background: #f2f4f6;
}

a.wrapper-button:hover button.edit {
	text-decoration: underline;
}*/

/*a.wrapper-button.well button {
	font
}*/

.well {
	padding: 0;
}

h1.form-title.heading-xlarge {
	font-weight: normal;
	margin-bottom: 30px;
	line-height: 1.34167;
}

.js-section, .edit {
	padding: 0;
  background: none;
  border: none;
  font-size: 14px;
	text-decoration: underline;;
}

.edit {
	float: right;
	font-size: 18px;
}

.edit.button {
	background: #00823b;
	padding: 0.52632em 0.78947em 0.26316em 0.78947em;
}

.rowbottom {
	margin: 0;
  display: block;
  padding: 20px 30px 0 30px;
  background: white;
  /*border: 1px #ebedef solid;*/
  border-radius: 0 0 5px 5px;
	color: black;
}

.rowbottom .row:first-of-type {
	margin-top: 0;
}

.rowbottom .row:last-of-type {
	margin-bottom: 0;
}

.completion-message {
	margin-bottom: 0;
}

.completion-message p {
	font-size: 19px;
	float: left;
	margin-top: 14px;
}

.completion-message i.glyphicon {
	font-size: 2.6em;
	color: #a0a3a7;
	margin-right: 10px;
	float: left;
}

.govuk-box-highlight.completed p, .govuk-box-highlight.completed p .button {
	margin-bottom: 0;
}

.govuk-box-highlight.completed p span {
	margin: 8px 10px 0 0;
	display: inline-block;
}

.next {
	margin-top: 20px;
	display: none;
}

.next .govuk-box-highlight.completed {
	background-color: #28A197;
}

/* ------------------------ Overview Overide Styles - End ------------------------ */

/* CSS for the status pages - Start */

ul.row-bottom {
	display: none;
	padding: 10px 30px;
	background: white;
	border-radius: 0 0 5px 5px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
}

.edit-information ul.row-bottom {
	border-radius: 0;
	border: none;
}

ul.row-bottom li {
	color: black;
	border-bottom: 1px solid #eee;
	padding: 5px 0;
	font-size: 14px;
}

/*ul.row-bottom li:hover {
	background: #f2f4f6;
}*/

/*ul.row-bottom li a:hover, ul.row-bottom li a:focus, ul.row-bottom li a:hover h3 {
	text-decoration: none !important;
}*/

ul.row-bottom li:last-of-type {
	border-bottom: none;
	padding: 5px 0 0 0;
}

.not-started {
	background: white;
  border: 3px dotted #ebedef;
	border-radius: 5px;
	margin-bottom: 20px !important;
}

.not-started .heading-xlarge, .not-started h3 {
	color: #a0a3a7 !important;
}

.not-started:hover, .not-started a:hover {
	text-decoration: none !important;
	cursor: default;
}

.not-started ul {
	border: none;
}

.edit-information {
	background: white;
	border-left: 5px solid #005ea5;
	border-radius: 0;
	margin-bottom: 20px !important;
}

.edit-information:hover {
	background: #ebedef;
}

.start {
	background: #ebedef;
	border-radius: 5px;
	margin-bottom: 20px !important;
	border: none;
}

.start:hover {
	background: #dee2e6;
}

#content.overview-page .panel.panel-primary {
	margin-top: 50px;
}

#content.overview-page h1, #content h1 {
	margin-bottom: 0;
	font-weight: bold;
}

#content.overview-page h1.heading-large.form-hint {
	font-weight: normal;
}

#content.overview-page h1:nth-of-type(2) {
	margin-bottom: 30px;
}

#content.overview-page #urn {
	margin: 5px 0 30px 0;
	display: inline-block;
}

.form-navigation {
	margin-top: 50px;
}

.form-navigation a {
	margin-right: 30px;
}

ul#overview-panels li {
	position: relative;
}

ul#overview-panels li:hover {
	cursor: pointer;
}

ul#overview-panels li .js-section {
	position: absolute;
	left: 73px;
	top: 50px;
}

/* CSS for the status pages - End */

/* ==================================== Overview Overide Styles - OLD - Start ==================================== */

.rowmiddle, .clearfix, .rowbottom {
	display: none !important;
}

ul li.row.well {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	border-radius: 5px;
	margin: 0 0 20px 0;
}

ul li.row.well .rowtop {
	margin: 0;
	border: none;
}

ul li.row .rowtop {
	margin: 0 0 20px 0;
	border: 3px dotted #ebedef;
	border-radius: 5px;
}

ul li.row.well .rowtop h3, ul li.row .rowtop h3 {
	margin-top: 0 !important;
	color: black !important;
}

ul li.row .rowtop h3 {
	color: #a0a3a7 !important;
	font-size: 23px;
}

ul li.row.well .rowtop h3 {
	font-size: 29px;
}

ul li.row.well .rowtop .edit.button {
	font-weight: bold;
}

#content h1.heading-large.form-hint {
	margin-bottom: 30px;
	font-weight: normal;
}

/* ==================================== Overview Overide Styles - OLD - End ==================================== */
