/* ================================= Changes for Adjudicator - START ================================= */

#global-header .header-proposition #proposition-name {
  float: right;
  font-weight: normal;
  font-size: 18px;
  padding-top: 2px;
}

@media (max-width: 768px) {
  #global-header .header-proposition #proposition-name {
    float: left;
  }
}

#logout-link {
  color: white;
}

#global-header #logo {
  font-size: 26px;
}

/* ================ Header - START ================ */

header.homepage-top {
  margin-bottom: 30px;
  /*padding: 20px 0;*/
}

header.homepage-top .homepage-top-inner {
  padding: 40px 30px 40px 30px;
}

header.homepage-top .homepage-top-inner h1 {
  margin-top: 0;
}

header.homepage-top .homepage-top-inner p {
  margin: 0;
  opacity: 0.6;
}

header.homepage-top .homepage-top-inner h2 {
  margin: 0;
}

header .row > div {
  padding-top: 0;
}

header.homepage-top .homepage-top-inner {
  position: relative;
}

header .cta-container {
  position: absolute;
  bottom: 0;
  right: 30px;
  padding: 20px;
  background: black;
  width: 30%;
  min-height: 8.5em;
}

@media (max-width: 768px) {
  header.homepage-top .homepage-top-inner {
    height: 360px;
  }
  header .cta-container {
    width: 100%;
    width: 91.75%;
  }
}

@media (max-width: 480px) {
  header.homepage-top .homepage-top-inner {
    height: 315px;
  }
}

header.homepage-top#list-search .homepage-top-inner {
  height: initial;
}

header .cta-container a.button {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

header .cta-container a {
  color: white;
  font-weight: bold;
  margin: 0 30px 10px 0;
  display: inline-block;
}

/* ================ Header - START ================ */

@media (max-width: 768px) {
  .sortby-section {
    display: none;
  }
}
.sortby-section {
  text-align: right;
}

@media (max-width: 768px) {
  .section-title {
    margin-bottom: 20px;
  }
}

.section-title a {
  padding: 0 10px;
  border-right: 1px solid #eee;
  cursor: pointer;
}

.section-title a:last-of-type {
  padding-right: 0;
  border-right: none;
}

#sortby {
  float: none;
  margin-left: 10px;
  margin-right: 0;
  clear: none;
}

#sortby-label {
  width: auto;
  /*float: left;*/
  padding-top: 7px;
  display: inline-block;
}

/* ================ Nav changes - List Page - START ================ */
nav .navbar-collapse {
  padding: 0;
  /*display: inline-block;*/
  width: 100%;
}

nav .collapse.in {
  display: inline-block;
}

nav li.dropdown {
  border-bottom: 5px solid #005ea5;
  margin-right: 1%;
  width: 25%;
  float: left;
  background: #f5f5f5;
  text-align: center;
}

nav li.dropdown:hover {
  background: #ebebeb;
}

@media (max-width: 768px) {
  nav li.dropdown {
    width: 31.3333%;
    margin-right: 3%;
  }
  nav li.dropdown:last-of-type {
    margin-right: 0;
  }
}

nav li.dropdown a {
  padding: 25px 0;
  text-decoration: none;
}

nav li.dropdown a .label-primary {
  margin-left: 5px;
}

.navbar-toggle {
  margin-right: 0;
  background-color: #005ea5;
}

.navbar-toggle .icon-bar {
  background-color: white;
  float: right;
  clear: right;
  height: 3px;
}

.icon-bar:first-of-type {
  margin-top: 5px;
}

.nav > li {
  display: inline-block;
}

.navbar-collapse.in {
  overflow-y: visible;
}

.navbar-nav {
  margin: 7.5px 0 18px 0;
  width: 100%;
}

h2#section {
  margin-top: 0;
}

@media (max-width: 768px) {
  h2#section {
    width: 80%;
    float: left;
    margin-top: 0;
  }
  .navbar-toggle {
    margin: 0;
  }
}

ul.dropdown-menu {
  width: 100%;
  top: 105%;
  padding: 0;
}

ul.dropdown-menu li {
  margin: 0;
}

ul.dropdown-menu li a {
  padding: 15px;
}

.dropdown-menu .divider {
  margin: 0;
}

nav ul li .label {
  padding-bottom: 0.1em;
  margin-right: 5px;
}

.navbar-header {
  display: inline-block;
  float: right;
  width: 100%;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
}
.sr-only {
  position: inherit;
  width: auto;
  height: auto;
  color: white;
  margin: 0;
  float: left;
  margin-right: 10px;
  font-size: 15px;
}
/* ================ Nav changes - List Page - END ================ */

/* ================ Nav changes - Main Page - START ================ */

.collapse.navbar-collapse {
  padding: 0;
}

.collapse.navbar-collapse .nav.nav-tabs {
  border-bottom: 5px solid #ddd;
}

.collapse.navbar-collapse .nav.nav-tabs li {
  margin-right: 4px;
  margin-bottom: 4px;
  float: left;
  background: #f5f5f5;
  text-align: center;
}

.collapse.navbar-collapse .nav.nav-tabs li a {
  margin-right: 0;
  border: none;
  border-radius: 0;
  font-size: 15px;
  padding: 10px;
}

.collapse.navbar-collapse .nav.nav-tabs li.active {
  border-bottom: 5px solid #005ea5;
  background: #ebebeb;
  margin-bottom: -5px;
  padding-bottom: 8px;
}

.collapse.navbar-collapse .nav.nav-tabs li.active a {
  background: none;
  border: none;
  font-weight: bold;
  text-decoration: none;
}

.collapse.navbar-collapse .nav.nav-tabs li:hover {
  background: #ebebeb;
}

/*.fail {
  border: 3px solid #B10E1E;
  background: white;
}*/

/*.fail a:hover span {
  text-decoration: none;
}*/

.fail label, .pass label {
  color: white;
  border-radius: 3px;
  width: 100%;
  padding: 5px 5px;
  /*text-transform: uppercase;*/
  font-size: 16px;
  text-align: center;
}

.fail label {
  background: #B10E1E;
}

.pass label {
  background: #00823B;
}

nav .fail label, nav .pass label {
  padding: 0 5px;
  width: auto;
}

section label, section label {
  margin-top: -3px;
  display: block;
}


/* ================ Nav changes - Main Page - END ================ */

/*.credit-check .row {
  margin-bottom: 10px;
}*/

a.open-close {
  float: right;
  font-size: 14px;
  text-decoration: underline;
  margin: 0;
}

a.open-close i {
  color: #337ab7;
}

.jobs h4 {
  margin: 0;
}

.jobs h4.heading-small {
  margin: 0 0 20px 0;
}

.jobs p {
  margin: 0;
}

.jobs p.heading-small {
  margin: 0 0 20px 0;
}

.jobs p.form-hint {
  margin: 0 0 20px 0;
}

.jobs .job-item {
  margin-bottom: 30px;
}

.jobs .job-item .job-title {
  background: #f5f5f5;
  padding: 10px;
}

hr.bolder {
  border-bottom: 5px solid #ddd;
}

.tab-pane hr {
  margin-top: 40px;
}

.with-nav-tabs.panel-default {
  border-bottom: 5px solid #ddd;
  padding-bottom: 40px;
}

.section-wrapper, .new-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.section-wrapper i, .new-wrapper i {
  padding: 1em 0.25em 0em 0.25em;
  font-size: 24px;
  line-height: 0;
  align-self: center;
  flex: 1;
}

@media (max-width: 768px) {
  .section-wrapper .label, .new-wrapper .label {
    min-width: 15%;
    padding-top: 1.75em;
  }
}

@media (max-width: 480px) {
  .section-wrapper .label, .new-wrapper .label {
    min-width: 20%;
  }
}

section {
  background: #f5f5f5;
  padding: 0;
  color: black;
  width: 100%;
  padding: 15px;
  /*position: relative;*/
  /*flex-direction: column;*/
}

#tab2default section {
  background: white;
  padding: 10px 15px;
  margin-bottom: 10px;
}

#tab2default section.fail-row, #tab2default section.open {
  background: #f5f5f5;
}

#tab2default .fail-row {
  padding-bottom: 10px;
}

.credit-info-hidden {
  margin-top: 10px;
  padding: 15px 0;
  background: white;
  border-right: 10px solid #f5f5f5;
  border-left: 10px solid #f5f5f5;
}

section h2.heading-medium {
  margin: 0;
  color: #005ea5;
  line-height: 1;
}

section .row > div {
  padding-top: 0;
}

/*section h3 {
  font-weight: bold;
}*/

@media (max-width: 480px) {
  section h3 {
    font-size: 16px;
  }
}

section span.form-hint {
  display: inline-block;
  margin: 0;
  font-weight: normal;
}

@media (max-width: 768px) {
  section h3 span.form-hint {
    display: none;
  }
}

.completion-message i {
  font-size: 2.6em;
  color: #a0a3a7;
  margin-right: 10px;
  float: left;
}

.completion-message p {
  font-size: 19px;
  float: left;
  margin-top: 14px;
}

.panel-indent {
  margin-top: 40px;
}

.followMeBar {
  background: white;
  padding: 0;
  position: relative;
  z-index: 1;
  color: black;
}

.followMeBar h3 {
  margin: 15px 0 0 0;
}

.followMeBar.fixed {
  position: fixed;
  top: 0;
  width: 24%;
  background: white;
  box-sizing: border-box;
  z-index: 1;
}

@media (max-width: 768px) {
  .followMeBar.fixed {
    width: 100%;
  }
}

.followMeBar .row > div {
  padding-top: 0;
}

.followMeBar.fixed.absolute {
  position: absolute;
  display: none;
}

/* ================================= Changes for Adjudicator - END ================================= */
