/* ================================= LEGAL Overide - Start ================================= */

fieldset input {
  width: 65%;
}

fieldset input.button {
  width: initial;
}

@media (max-width: 640px) {
  fieldset input {
    width: 100%;
  }
}

fieldset header {
  border-bottom: 5px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

fieldset header h2.form-title {
  margin: 0 0 20px 0;
}

@media (max-width: 768px) {
  fieldset header h2.form-title {
    margin: 0 0 0 0;
  }
}

fieldset header .edit {
  margin: 12px 0 0 0;
}

@media (max-width: 768px) {
  fieldset header .edit {
    margin: 0 0 20px 0;
  }
}

fieldset section .row {
  padding: 15px 0;
}
fieldset section .form-hint {
  margin: 0;
}

.edit {
  float: right;
}

@media (max-width: 768px) {
  .edit {
    float: left;
  }
}

#court-details {
  margin-bottom: 60px;
}

.section-overview header h2 {
  margin-top: 0;
}

.section-overview section, .add-item {
  margin-bottom: 2em;
}

.add-item {
  border-left: 5px solid #005ea5;
  padding: 20px 0 20px 20px;
}

#court-cases h3, #ongoing-cases h3, #solicitors-used h3 {
  margin: 0;
}

#court-cases a, #ongoing-cases a, #solicitors-used a {
  float: right;
  margin-left: 15px;
}

.new-item {
  margin: 20px 0 40px 0;
  padding: 15px 0;
  border-radius: 0;
  background: white;
}

.new-item .row {
  padding: 0;
}

.new-item .row > div {
  padding-top: 0;
}

.new-item p {
  margin-bottom: 0;
}

#case-list label {
  font-weight: normal;
}

.section-overview {
  margin-bottom: 40px;
  border-bottom: 6px solid #eee;
}

.section-overview header h2 {
  margin: 0;
}

/*fieldset.section-overview header {
  border-bottom: 0;
}*/

fieldset.section-overview header .heading-xlarge {
  margin-bottom: 0;
}

section hr {
  border-top: 6px solid #eee;
}

.post-code {
  width: 20%;
}

.case-item label {
  width: 100%;
  font-weight: normal;
}

/* ================================= LEGAL Overide - End ================================= */
