
.new-item {
  margin: 20px 0;
  padding: 15px;
  border-radius: 0;
  background:#EFEFEF;
}

.new-item .row {
  padding: 0;
}

.new-item .row > div {
  padding-top: 0;
}

.new-item p {
  margin-bottom: 0;
}

