.edit{
      display: block;  
      min-width: 100px;
  visibility: visible;
}
.totalvalue{
    font-weight:bold;
    width:100px;
}
.actions{
    width:100px;
}
.table-condensed thead{
    display:none;
}

.noborder td{
	border:0 transparent none !important;
}
.number-col{
	
	text-align:right;
	padding-right:30px
}

.heading-medium{
	margin-top:0;
}
input.amount{
	width:70%; font-size:19px;
		border: 1px solid #fff;
		padding-top:12px;
-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.select-control{
	display:  inline-block;
	height: 34px;
	padding: 4px 12px;
	font-size: 19px;
	line-height: 1.4285;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #fff;
}
td .form-label{
	padding-top:8px
}
div.pound-sign{
	width:20px; padding-right:15px; padding-top:8px; font-size:19px;
}
.totalrow td *{
	font-size:19px;
	font-weight:bold;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:10px;
	padding-left:15px;
}
table{
border-collapse:separate
}

table.table {
	border-top: 0 none transparent !important;

	border-bottom: 1px solid #ddd !important;
}
#box-total{
	width:90%;padding-right:0
}
.totalrow .pound-sign{
	font-weight:normal; padding-left:0;
}