/* ================================= SFS General Overide - Start ================================= */

input, input.form-control, textarea {
  border: 2px solid #6f777b;
  border-radius: 0;
  box-shadow: none;
  border-color: #6f777b;
}

input:focus, input.form-control:focus, select:focus {
  border: 2px solid #FFBF47;
  box-shadow: none;
}

select {
  margin: 1px 10px 0 0;
  border: 2px solid #6f777b;
  border-radius: 0;
  background: transparent;
  padding: 2px 35px 2px 2px;
  font-size: 16px;
  height: 35px;
  clear: left;
  float: left;
  font-weight: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/svgs/arrow-down.svg) 96% / 20px no-repeat #fff;
}

select:focus {
  background: url(../images/svgs/arrow-up.svg) 96% / 20px no-repeat #fff;
}

.row > div:first-child {
  padding-top: 15px;
}

/* ================================= SFS General Overide - End ================================= */

.childrow td:first-child{
    padding-left:20px;
}
.edit{
      display: block;
      min-width: 100px;
  		visibility: visible;
}
.totalvalue{
    font-weight:bold;
    width:100px;
}
.actions{
    width:100px;
}
.table-condensed thead{

}
tr td .heading-medium{
	padding-top:15px;
	padding-bottom:10px;
	margin-bottom:0
}
table tr td {
	vertical-align:top;
}

table tr td a.button{
	margin-bottom:0
}

.table-condensed thead .heading-amount{
	width:160px; text-align:right; padding-right:45px
}


.noborder td{
	border:0 transparent none !important;
}
.number-col{

	text-align:right;
	padding-right:30px
}

.heading-medium{
	margin-top:0;
}
input.amount{
  font-size:19px !important;
	border: 1px solid #fff;
	padding-top:12px;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input.amount, input.amount-notcounted{
	width:70%; font-size:19px;
	border: 1px solid #fff;
	padding-top:12px;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.select-control{
	margin-top:4px;
	display:  inline-block;
	height: 34px;
	padding: 4px 10px 2px 10px;
	font-size: 19px;
	line-height: 1.4285;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #fff;

	width: 100%;
	height: 34px;

	line-height: 1.42857143;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.active .select-control{

}

.form-control{
	margin-top:4px;
}
.select-control:focus,
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

td .form-label{
	padding-top:8px
}
div.pound-sign{
	width:20px; padding-right:15px; padding-top:8px; font-size:19px;
}
.totalrow td *{
	font-size:19px;
	font-weight:bold;

	padding-right:10px;
	padding-left:15px;
}
table th,
table td {
	font-size:19px;
}

table{
border-collapse:separate;
	font-size:19px;
}

table.table {

	border-top: 0 none transparent !important;

	border-bottom: 1px solid #ddd !important;
}
#box-total{
	width: auto;
  padding-right: 0;
}
.totalrow .pound-sign{
	font-weight:normal; padding-left:0;
}


/* override the SFS in the assets section */
#assetitems input.form-control{
font-size:19px;
}
#assetitems input.amount{
font-size:19px;
		border: 1px solid #ccc;
		padding-top:12px;
	-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	width:120px
}
#assetitems .halfwidth{
  float: left;
  margin-right: 10px;
  clear: none;
	width:47%;
}
#assetitems .question{
	width:35%;
}
#assetitems .valuecolumn{
	width:45%;
}

#assetitems .halfwidth input{
	border: 1px solid #ccc;
    border-radius: 4px;
    width:90%
}

#assetitems .actions{
}

#assetitems .table>tbody>tr>td{
	border: 0 transparent none;
}

#assetitems table>tbody>tr:first-child td{
	border-top: 1px solid #ddd;
}
#assetitems table>tbody>tr:last-child td{
	border-bottom: 1px solid #ddd;
}

/* ================================= SFS Overide - Start ================================= */

#costs {
  padding-top: 15px;
}

main#content #costs {
  padding-top: 30px;
}

/*#income {
  padding-top: 0;
}*/

#income table th, #costs table th {
  font-size: 26px;
  border-bottom: 0;
  padding: 0.5em 1em 0.5em 0.6em;
}

#income table th:nth-of-type(2), #costs table th:nth-of-type(2) {
  font-size: 16px;
  color: #6f777b;
  border-radius: 0 5px 5px 0;
}

#income table td, #costs table td {
  border-bottom: 0;
}

#income table tr#incometotal td, #costs table tr#coststotal td {
  border-top: 3px solid #bfc1c3;
}

tr td.actions a.edit {
  text-align: center;
}

#content .form-navigation.form-group.inner-block {
  margin-left: 0;
}

#income tr.group-heading td, #costs tr.group-heading td {
	padding: 25px 0;
}

#income tr.group-heading td.value, #costs tr.group-heading td.value {
  font-weight: bold;
}


#income table thead, #costs table thead {
  background: #eee;
}

#income table thead th:first-of-type, #costs table thead th:first-of-type {
  border-radius: 5px 0 0 5px;
}

#income tbody tr.group-heading td, #costs tbody tr.group-heading td {
  padding: 25px 15px;
}

fieldset label, fieldset .amount, fieldset .per {
  float: left;
  /*font-weight: bold;*/
  /*width: 43.3%;*/
  border-bottom: 0;
}

fieldset label {
  width: 100%;
}

/*fieldset .per {
  width: 33.3%;
}

fieldset .amount {
  width: 23.3%;
}*/

fieldset {
  padding: 0 0 20px 0;
}

.amount, .per {
  text-align: left;
  font-weight: bold;
}

.amount label, .per label {
  text-indent: -10000px;
  text-align: left;
  /*margin: 0;*/
  height: 0;
  width: 0;
}

.amount .currency {
  font-weight: bold;
  float: left;
  display: inline-block;
  margin: 7px 20px 0 0;
  text-indent: 0;
}

/*fieldset.fine .amount .currency, fieldset.expense .amount .currency {
  margin: 7px 20px 0 0;
}*/

fieldset.input-item .amount .currency {
  margin-top: 32px;
}

.amount input, fieldset div input {
  float: left;
  width: 65%;
  border: 2px solid #6f777b;
  height: 35px;
  padding: 2px;
  line-height: 30px;
  text-align: left;
  /*clear: left;*/
  font-weight: normal;
}

.expense .amount input.amount, .fine .amount input {
  margin-top: 26px;
  font-weight: normal;
}

/*fieldset .per select {
  float: left;
  width: 40%;
}*/

fieldset .row > div:first-child {
  padding-top: 15px;
}

.add-item {
  margin: 20px 0;
  border-left: 5px solid #005ea5;
  padding: 20px 0 20px 20px;
}

.additional-item {
  padding-top: 10px;
  /*margin-top: 20px;*/
}

h2.additional-item-intro {
  font-weight: bold;
  border-top: 1px solid #eee;
  width: 100%;
  padding-top: 30px;
  /*display: inline-block !important;*/
}

.title-holder {
  display: inline-block;
  width: 100%;
  padding: 0;
}

fieldset.input-item .amount label {
  text-indent: 0;
}

.form-intro {
  border-bottom: 5px solid #eee;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-intro.large-margin-top {
  margin-top: 100px;
  display: inline-block;
  width: 100%;
}

.form-intro label, .form-intro legend {
  margin: 0;
}

.form-intro legend {
  margin-bottom: 0;
  border: 0;
}

.form-intro .amount, .form-intro .per {
  /*font-size: 19px;*/
  margin-top: 13px;
}

.form-intro .heading-large {
  margin-top: 0;
}

label {
  margin: 0;
}

hr.seperator {
  width: 100%;
  display: inline-block;
  border-top: 5px solid #eee;
}

#accounting-year-start, #accounting-year-end {
  display: inline-block;
  /*width: 50%;*/
  border-left: 0;
  padding: 0;
  clear: none;
  margin: 20px 0 70px 0;
}

#accounting-year-start .form-hint, #accounting-year-end .form-hint {
  float: left;
  width: 100%;
}

#accounting-year-start input, #accounting-year-end input {
  clear: left;
}

.breadcrumb {
  background: #eee;
  padding: 10px;
  margin: 20px 0;
  display: inline-block;
  width: 100%;
  font-size: 14px;
}

fieldset.input-item .delete-button {
  margin-top: 30px;
  position: absolute;
  font-size: 18px;
}

fieldset.input-item .delete-button .glyphicon {
  margin: 0 10px 0 0;
}

#another {
  display: none;
}

input.description {
  width: 100%;
}

.col-sm-2.amount {
  width: 16.666667%;
}

.col-sm-2.amount input {
  width: 81%;
}

.section-total-value {
  border-top: 5px solid #eee;
  font-size: 26px;
  margin: 0;
  font-weight: bold;
}

.section-total-value.summary-page .totalvalue {
  float: right;
  text-align: right;
}

.section-total-value .description {
  text-align: right;
}

.section-total-value .description label {
  text-indent: 0;
  float: right;
  margin-top: 0;
}

.section-total-value .total div {
  float: left;
}


/* ================================= SFS Overide - End ================================= */

/* ================================= SFS Summary Overide - Start ================================= */

.form-intro.summary {
  border-bottom: 0;
  margin-bottom: 0;
}

.form-intro.summary label {
  float: right;
  margin: 47px 0 0 0;
  font-size: 15px;
}

.form-intro.summary h1.form-title {
  margin: 30px 0 0 0;
}

.section {
  padding: 15px;
  color: #a0a3a7 !important;
  margin-bottom: 20px;
  border: 3px dotted #ebedef;
  border-radius: 5px;
  background: white;
}

.section .heading-xlarge {
  float: left;
  margin: -5px 10px 0 0;
  font-size: 65px;
  width: 40px;
  height: 50px;
  text-align: center;
  color: black;
}

.section label {
  width: 100%;
  float: left;
  font-size: 25px;
  margin-top: 0;
}

.section.active label span {
  display: inline-block;
  margin-right: 5px;
}

.section label span {
  display: none;
}

.section .form-hint {
  font-size: 14px;
  margin-bottom: 0;
}

fieldset.section div[class*=col-], fieldset.section .row > div:first-child {
  padding-top:0;
}

.section.active {
  color: black !important;
  background: #ebedef;
}

.section.complete {
  color: black !important;
  background: white;
  border-left: 5px solid #005ea5;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}

.section.complete label, .section.complete .heading-xlarge {
  color: black !important;
  margin-bottom: 0;
}

.section label, .section .heading-xlarge {
  color: #a0a3a7 !important;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 20px;
}

.section .heading-xlarge.double-digits {
  width: 60px;
}

.section.active label, .section.active .heading-xlarge {
  color: black !important;
  font-weight: bold;
  font-size: 20px;
}

.heading-xlarge.start {
  margin-bottom: 0;
}



/*.section.active:hover {
  background: #dee2e6;
}*/

.section .main-cta .button {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  width: auto;
  display: none;
}

.section .main-cta .edit {
  float: right;
  text-align: right;
  min-width: auto;
}

.section.active .main-cta .button {
  display: inline-block;
  float: right;
}

.section .opt-out {
  text-align: right;
  position: absolute;
  right: 137px;
  width: 270px;
}

.declare, .edit {
  display: none;
}

.section.complete .edit {
  display: inline-block;
  float: right;
  min-width: auto;
  margin-top: 0;
}

.section.complete .value {
  float: left;
  font-weight: bold;
  font-size: 21px;
  margin-top: 0;
  min-width: 70%;
}

.section.active .declare {
  display: inline-block;
}

.section-total-value#incometotal, .section-total-value#household-total, .section-total-value#coststotal {
  margin-top: 0;
  /*border-top: 0;*/
}

.section-total-value#incometotal .row {
  padding-top: 0;
}

#household-income .heading-xlarge {
  font-size: 30px;
}

#household-income label.sub-header {
  margin: 10px 0 0 0;
}

#household-income .form-intro.summary h1.form-title {
  margin: 0;
}

.section .form-hint {
  display: none;
}

/* ================================= SFS Summary Overide - End ================================= */
