/* ================================= SFS Overide - Start ================================= */

.row > div {
  padding-top: 0;
}

.show-for-mobile {
  display: none;
}

.hide-for-mobile {
  display: inline-block;
}

@media (max-width:768px) {
  .show-for-mobile {
    display: inline-block;
  }
  .hide-for-mobile {
    display: none;
  }
}

ul.lede {
  padding-left: 23px;
}

ul.lede li {
  list-style: disc;
}

#costs {
  padding-top: 15px;
}

main#content #costs {
  padding-top: 30px;
}

fieldset label, fieldset .amount, fieldset .per {
  float: left;
  /*font-weight: bold;*/
  /*width: 43.3%;*/
  border-bottom: 0;
}

fieldset label {
  width: 100%;
}

fieldset {
  padding: 0 0 20px 0;
}

.amount, .per {
  text-align: left;
  font-weight: bold;
  padding-top: 22px;
}

.amount label, .per label {
}

.amount .currency, .currency {
  font-weight: bold;
  float: left;
  display: inline-block;
  margin: 5px 10px 0 0;
  text-indent: 0;
  width: auto;
}

@media (max-width:768px) {
  .amount .currency, .currency {
    width: 100%;
    margin-top: -10px;
  }
}

fieldset.input-item .amount .currency {
  margin-top: 32px;
}

.amount input, fieldset div input {
  float: left;
  width: 65%;
  border: 2px solid #6f777b;
  height: 35px;
  padding: 2px;
  line-height: 30px;
  text-align: left;
  font-weight: normal;
}

.expense .amount input.amount, .fine .amount input {
  margin-top: 26px;
  font-weight: normal;
}

/*.expense .amount, .expense .per, .expense .delete {
  padding-top: 74px;
}

@media (max-width:768px) {
  .expense .amount, .expense .per, .expense .delete {
    padding-top: 0;
  }
}*/

.amount .hidden {
  position: relative;
  height: 30px !important;
}

.accounting-date {
  margin: 25px 0;
}

fieldset .section .row > div:first-child {
  padding-top: 0;
}

.add-item {
  margin: 20px 0 80px 0;
  border-left: 5px solid #005ea5;
  padding: 20px 0 20px 20px;
}

.additional-item {
  padding-top: 10px;
}

h2.additional-item-intro {
  font-weight: bold;
  border-top: 1px solid #eee;
  width: 100%;
  padding-top: 30px;
}

.title-holder {
  display: inline-block;
  width: 100%;
  padding: 0;
}

fieldset.input-item .amount label {
  text-indent: 0;
}

.form-intro {
  border-bottom: 5px solid #eee;
  margin: 40px 0;
  font-weight: bold;
  display: inline-block;
  width: 100%;
}

.form-intro .heading-small {
  margin-top: 14px;
}

@media (max-width:768px) {
  .form-intro {
    margin-top: 0;
  }
}

.large-margin-top {
  margin-top: 100px;
  display: inline-block;
  width: 100%;
}

.form-intro label, .form-intro legend {
  margin: 0;
}

.form-intro legend {
  margin-bottom: 0;
  border: 0;
}

.form-intro .amount, .form-intro .per {
  /*font-size: 19px;*/
  margin-top: 4px;
}

.form-intro .heading-large {
  margin-top: 0;
}

.footer-total {
  border-top: 5px solid #eee;
  display: inline-block;
  width: 100%;
  margin: 0;
}

.footer-total .total-currency {
  width: auto;
  float: left;
  margin-right: 10px;
}

.footer-total .heading-medium {
  margin: 20px 0 0 0;
}

@media (max-width:768px) {
  .footer-total .heading-medium {
    margin-top: 0;
  }
  .footer-total .text-right {
    text-align: left;
  }
}

.extra-item {
  border-top: 5px solid #eee;
  padding-top: 45px;
}

#another {
  margin-top: 25px;
  float: left;
}

label {
  margin: 0;
}

hr.seperator {
  width: 100%;
  display: inline-block;
  border-top: 5px solid #eee;
}

#net-profit {
	margin-bottom: 60px;
}

#accounting-year-start, #accounting-year-end {
  display: inline-block;
  /*width: 50%;*/
  border-left: 0;
  padding: 0;
  clear: none;
  margin: 20px 0 60px 0;
}

#accounting-year-start {
  margin: 20px 0 10px 0;
}

#accounting-year-start .form-hint, #accounting-year-end .form-hint {
  float: left;
  width: 100%;
}

#accounting-year-start input, #accounting-year-end input {
  clear: left;
}

.breadcrumb {
  background: #eee;
  padding: 10px;
  margin: 20px 0;
  display: inline-block;
  width: 100%;
  font-size: 14px;
}

fieldset .delete-button {
  /*margin-top: 30px;
  position: absolute;*/
  font-size: 18px;
  float: right;
}

fieldset .delete-button .glyphicon {
  margin: 0 10px 0 0;
}

#another {
  display: none;
}

input.description {
  width: 100%;
}

.col-sm-2.amount {
  width: 16.666667%;
}

.col-sm-2.amount input {
  width: 81%;
}

.section-total-value {
  border-top: 5px solid #eee;
  font-size: 26px;
  margin: 0;
  font-weight: bold;
}

.section-total-value.summary-page .totalvalue {
  float: right;
  text-align: right;
}

.summary-page .amount {
  padding-top: 0;
}

.section-total-value .description {
  text-align: right;
}

.section-total-value .description label {
  text-indent: 0;
  float: right;
  margin-top: 0;
}

.section-total-value .total div {
  float: left;
}

/* ================================= SFS Overide - End ================================= */

/* ================================= SFS Summary Overide - Start ================================= */

.form-intro.summary {
  border-bottom: 0;
  margin: 0;
}

.form-intro.summary h2, .description h2 {
  float: right;
  margin: 47px 0 30px 0;
  font-size: 15px;
  font-weight: bold;
}

.description h2 {
  margin: 0px 0 0 0;
  font-size: 26px;
}

.form-intro.summary h1.form-title {
  margin: 30px 0 0 0;
}

.section {
  padding: 15px;
  color: #a0a3a7 !important;
  margin-bottom: 20px;
  border: 3px dotted #ebedef;
  border-radius: 5px;
  background: white;
}

.section .row > div {
  padding-top: 0;
}

.section .heading-xlarge {
  float: left;
  margin: -5px 10px 0 0;
  font-size: 65px;
  width: 40px;
  height: 50px;
  text-align: center;
  color: black;
}

.section h2 {
  width: 100%;
  float: left;
  font-size: 25px;
  margin-top: 0;
}

.section.active h2 span {
  display: inline-block;
  margin-right: 5px;
}

.section h2 span {
  display: none;
}

.section .form-hint {
  font-size: 14px;
  margin-bottom: 0;
}

fieldset.section div[class*=col-], fieldset.section .row > div:first-child {
  padding-top:0;
}

.section.active {
  color: black !important;
  background: #ebedef;
}

.section.complete {
  color: black !important;
  background: white;
  border-left: 5px solid #005ea5;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}

.section.complete h2, .section.complete .heading-xlarge {
  color: black !important;
  margin-bottom: 0;
}

.section h2, .section .heading-xlarge {
  color: #717479 !important;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 20px;
}

.section .heading-xlarge.double-digits {
  width: 60px;
}

.section.active h2, .section.active .heading-xlarge {
  color: black !important;
  font-weight: bold;
  font-size: 20px;
}

.heading-xlarge.start {
  margin-bottom: 0;
}

/*.section.active:hover {
  background: #dee2e6;
}*/

.section .main-cta .button {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  width: auto;
  display: none;
}

.section .main-cta .edit {
  float: right;
  text-align: right;
  min-width: auto;
}

.section.active .main-cta .button {
  display: inline-block;
  float: right;
}

.section .opt-out {
  text-align: right;
  position: absolute;
  right: 137px;
  width: 270px;
}

.declare, .edit {
  display: none;
}

.section.complete .edit {
  display: inline-block;
  float: right;
  min-width: auto;
  margin-top: 0;
}

.section.complete .value {
  float: left;
  font-weight: bold;
  font-size: 21px;
  margin-top: 0;
  min-width: 70%;
}

.section.active .declare {
  display: inline-block;
}

#income {
  padding-top: 30px;
}

.section-total-value#incometotal, .section-total-value#household-total, .section-total-value#coststotal {
  margin-top: 0;
  /*border-top: 0;*/
  border-top: none;
}

.section-total-value#incometotal .row > div, .section-total-value#household-total .row > div, .section-total-value#coststotal .row > div {
  padding-top: 0;
}

.section-total-value#incometotal .row {
  padding-top: 0;
}

#household-income {
  padding-top: 33px;
}


#household-income .heading-xlarge {
  font-size: 30px;
}

#household-income h2.sub-header {
  margin: 10px 0 15px 0;
}

#household-income .form-intro.summary h1.form-title {
  margin: 0;
}

.section .form-hint {
  display: none;
}

/* ================================= SFS Summary Overide - End ================================= */
