/* ================================= What you need - START ================================= */

aside {
	border-bottom: 1px solid #eee;
	margin-bottom: 50px;
	display: inline-block;
	width: 100%;
}

aside nav ol {
	width: 50%;
	float: left;
	list-style: none;
}

aside nav ol li {
	font-size: 16px;
	margin-bottom: 10px;
}

.inner {
	margin-bottom: 100px;
	font-size: 24px;
}

.inner:last-of-type {
	margin-bottom: 0;
}

.inner header .heading-xlarge {
	margin-bottom: 0;
	font-size: 90px;
}

.inner header .heading-large {
	margin-top: 0;
}

.inner ul {
	list-style: disc;
	padding-left: 24px;
	margin-bottom: 30px;
}

.inner ul li {
	margin-bottom: 10px;
}

.panel.panel-primary {
  margin-top: 35px;
}

.form-navigation a {
	margin-right: 30px;
}

.form-navigation.form-group .form-group {
	border-top: 1px solid #eee;
	padding-top: 60px;
}

/* ================================= What you need - END ================================= */
