@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
#content::after {
	clear: both; display: block; content: "";
}
#content::after {
	clear: both; display: block; content: "";
}
#content::after {
	clear: both; display: block; content: "";
}
#content::after {
	clear: both; display: block; content: "";
}
.example-highlight-grid .grid-wrapper {
	background: rgb(191, 193, 195);
}
.example-highlight-grid .grid {
	background: rgb(248, 248, 248);
}
.example-highlight-grid .is-inner-block-highlight {
	background: rgb(222, 224, 226); width: 100%;
}
.example-back-link {
	margin-top: 30px; display: inline-block;
}
.visuallyhidden {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
div {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
span {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h1 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h2 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h3 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h4 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h5 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h6 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
p {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
blockquote {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
pre {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
a {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
abbr {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
acronym {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
address {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
big {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
cite {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
code {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
del {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
dfn {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
em {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
img {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
ins {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
kbd {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
q {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
s {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
samp {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
small {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
strike {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
strong {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
sub {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
sup {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
tt {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
var {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
b {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
u {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
i {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
center {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
dl {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
dt {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
dd {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
ol {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
ul {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
li {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
fieldset {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
form {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
label {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
legend {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
table {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
caption {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
tbody {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
tfoot {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
thead {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
tr {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
th {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
td {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
article {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
aside {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
canvas {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
details {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
embed {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
figure {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
figcaption {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
footer {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
header {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
hgroup {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
menu {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
nav {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
output {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
ruby {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
section {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
summary {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
time {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
mark {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h1 {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
h2 {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
h3 {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
h4 {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
h5 {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
h6 {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
p {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
blockquote {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
pre {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
small {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
strike {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
strong {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
sub {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
sup {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
tt {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
var {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
b {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
u {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
i {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
center {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
input {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
textarea {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
table {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
caption {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
tbody {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
tfoot {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
thead {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
tr {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
th {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
td {
	line-height: inherit; font-family: inherit; font-size: inherit; font-weight: normal;
}
#content {
	text-transform: none; line-height: 1.3157; font-family: "nta", Arial, sans-serif; font-size: 19px; font-weight: 400; -webkit-font-smoothing: antialiased;
}
@media all and (max-width:640px)
{
#content {
	line-height: 1.25; font-size: 16px;
}
}
.font-xxlarge {
	text-transform: none; line-height: 1; font-family: "nta", Arial, sans-serif; font-size: 80px; font-weight: 400;
}
@media all and (max-width:640px)
{
.font-xxlarge {
	line-height: 1.0377; font-size: 53px;
}
}
.font-xlarge {
	text-transform: none; line-height: 1.0416; font-family: "nta", Arial, sans-serif; font-size: 48px; font-weight: 400;
}
@media all and (max-width:640px)
{
.font-xlarge {
	line-height: 1.0937; font-size: 32px;
}
}
.font-large {
	text-transform: none; line-height: 1.1111; font-family: "nta", Arial, sans-serif; font-size: 36px; font-weight: 400;
}
@media all and (max-width:640px)
{
.font-large {
	line-height: 1.0416; font-size: 24px;
}
}
.font-medium {
	text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 24px; font-weight: 400;
}
@media all and (max-width:640px)
{
.font-medium {
	line-height: 1.2; font-size: 20px;
}
}
.font-small {
	text-transform: none; line-height: 1.3157; font-family: "nta", Arial, sans-serif; font-size: 19px; font-weight: 400;
}
@media all and (max-width:640px)
{
.font-small {
	line-height: 1.25; font-size: 16px;
}
}
.font-xsmall {
	text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 16px; font-weight: 300;
}
@media all and (max-width:640px)
{
.font-xsmall {
	line-height: 1.1428; font-size: 14px;
}
}
.bold-xxlarge {
	text-transform: none; line-height: 1; font-family: "nta", Arial, sans-serif; font-size: 80px; font-weight: 700;
}
@media all and (max-width:640px)
{
.bold-xxlarge {
	line-height: 1.0377; font-size: 53px;
}
}
.bold-xlarge {
	text-transform: none; line-height: 1.0416; font-family: "nta", Arial, sans-serif; font-size: 48px; font-weight: 700;
}
@media all and (max-width:640px)
{
.bold-xlarge {
	line-height: 1.0937; font-size: 32px;
}
}
.bold-large {
	text-transform: none; line-height: 1.1111; font-family: "nta", Arial, sans-serif; font-size: 36px; font-weight: 700;
}
@media all and (max-width:640px)
{
.bold-large {
	line-height: 1.0416; font-size: 24px;
}
}
.bold-medium {
	text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 24px; font-weight: 700;
}
@media all and (max-width:640px)
{
.bold-medium {
	line-height: 1.2; font-size: 20px;
}
}
.bold-small {
	text-transform: none; line-height: 1.3157; font-family: "nta", Arial, sans-serif; font-size: 19px; font-weight: 700;
}
@media all and (max-width:640px)
{
.bold-small {
	line-height: 1.25; font-size: 16px;
}
}
.bold-xsmall {
	text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 16px; font-weight: 700;
}
@media all and (max-width:640px)
{
.bold-xsmall {
	line-height: 1.1428; font-size: 14px;
}
}
.heading-xlarge {
	text-transform: none; line-height: 1.0416; font-family: "nta", Arial, sans-serif; font-size: 48px; font-weight: 700; margin-top: 0.46em; margin-bottom: 0.93em;
}
@media all and (max-width:640px)
{
.heading-xlarge {
	line-height: 1.0937; font-size: 32px;
}
}
@media all and (min-width:641px)
{
.heading-xlarge {
	margin-top: 0.62em; margin-bottom: 1.25em;
}
}
.heading-xlarge .heading-secondary {
	color: rgb(111, 119, 123); text-transform: none; line-height: 1.1111; font-family: "nta", Arial, sans-serif; font-size: 27px; font-weight: 400; display: block;
}
@media all and (max-width:640px)
{
.heading-xlarge .heading-secondary {
	line-height: 1.1111; font-size: 18px;
}
}
.heading-large {
	text-transform: none; line-height: 1.1111; font-family: "nta", Arial, sans-serif; font-size: 36px; font-weight: 700; margin-top: 1.04em; margin-bottom: 0.41em;
}
@media all and (max-width:640px)
{
.heading-large {
	line-height: 1.0416; font-size: 24px;
}
}
@media all and (min-width:641px)
{
.heading-large {
	margin-top: 1.25em; margin-bottom: 0.55em;
}
}
.heading-medium {
	text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 24px; font-weight: 700; margin-top: 1.25em; margin-bottom: 0.5em;
}
@media all and (max-width:640px)
{
.heading-medium {
	line-height: 1.2; font-size: 20px;
}
}
@media all and (min-width:641px)
{
.heading-medium {
	margin-top: 1.87em; margin-bottom: 0.83em;
}
}
.heading-small {
	text-transform: none; line-height: 1.3157; font-family: "nta", Arial, sans-serif; font-size: 19px; font-weight: 700; margin-top: 0.62em; margin-bottom: 0.31em;
}
@media all and (max-width:640px)
{
.heading-small {
	line-height: 1.25; font-size: 16px;
}
}
@media all and (min-width:641px)
{
.heading-small {
	margin-top: 1.05em;
}
}
p {
	margin-top: 0.31em; margin-bottom: 1.25em;
}
@media all and (min-width:641px)
{
p {
	margin-top: 0.26em; margin-bottom: 1.05em;
}
}
.lede {
	text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 24px; font-weight: 400;
}
@media all and (max-width:640px)
{
.lede {
	line-height: 1.2; font-size: 20px;
}
}
.text {
	max-width: 30em;
}
.text-secondary {
	color: rgb(111, 119, 123);
}
pre {
	padding: 3px 7px; border: 1px solid rgb(191, 193, 195); border-image: none; color: rgb(11, 12, 12); line-height: 19px; font-size: 13px; background-color: rgb(248, 248, 248);
}
code {
	padding: 3px 7px; border: 1px solid rgb(191, 193, 195); border-image: none; color: rgb(11, 12, 12); line-height: 19px; font-size: 13px; background-color: rgb(248, 248, 248);
}
#wrapper {
	text-align: center; padding-bottom: 30px;
}
@media all and (min-width:769px)
{
#wrapper {
	padding-bottom: 90px;
}
}
#content {
	margin: 0px auto; width: auto; text-align: left; max-width: 1020px;
}
#content::after {
	clear: both; display: block; content: "";
}
.inner-block {
	margin-right: 15px; margin-left: 15px;
}
@media all and (min-width:641px)
{
.inner-block {
	margin-right: 30px; margin-left: 30px;
}
}
#global-cookie-message .inner-block {
	margin: 0px;
}
#global-header-bar .inner-block {
	margin: 0px;
}
.phase-banner {
	padding: 10px 0px 8px; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
@media all and (min-width:641px)
{
.phase-banner {
	padding-bottom: 10px;
}
}
.phase-banner p {
	margin: 0px; color: rgb(0, 0, 0); text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 16px; font-weight: 300;
}
@media all and (max-width:640px)
{
.phase-banner p {
	line-height: 1.1428; font-size: 14px;
}
}
.phase-banner .phase-tag {
	margin: 0px 8px 0px 0px; padding: 2px 5px 0px; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 1.25; letter-spacing: 1px; font-family: "nta", Arial, sans-serif; font-size: 16px; font-weight: 700; text-decoration: none; vertical-align: top; display: inline-block; background-color: rgb(213, 56, 128);
}
@media all and (min-width:641px)
{
.phase-banner .phase-tag {
	vertical-align: baseline;
}
}
@media all and (max-width:640px)
{
.phase-banner .phase-tag {
	line-height: 1.1428; font-size: 14px;
}
}
.phase-banner span {
	width: 75%; vertical-align: top; display: inline-block;
}
@media all and (min-width:641px)
{
.phase-banner span {
	width: auto; vertical-align: baseline;
}
}
.grid-wrapper::after {
	clear: both; display: block; content: "";
}
@media all and (min-width:641px)
{
.grid-wrapper {
	margin-right: 15px; margin-left: 15px;
}
}
.grid-divider {
	margin-right: 15px; margin-bottom: 20px; margin-left: 15px; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
.grid-divider::after {
	clear: both; display: block; content: "";
}
@media all and (min-width:641px)
{
.grid-divider {
	margin-right: 30px; margin-left: 30px;
}
}
.grid {
	width: 100%; float: left;
}
@media all and (min-width:641px)
{
.grid-1-4 {
	width: 25%;
}
}
@media all and (min-width:641px)
{
.grid-1-3 {
	width: 33.33%;
}
}
@media all and (min-width:641px)
{
.grid-1-2 {
	width: 50%;
}
}
@media all and (min-width:641px)
{
.grid-2-3 {
	width: 66.66%;
}
}
@media all and (min-width:641px)
{
.grid-3-4 {
	width: 75%;
}
}
.grid .inner-block {
	padding: 0px;
}
@media all and (min-width:641px)
{
.grid .inner-block {
	margin: 0px 15px;
}
}
.inner-block .grid-wrapper {
	padding: 0px; margin-right: -15px; margin-left: -15px;
}
.inner-block .grid-divider {
	margin-right: 0px; margin-left: 0px;
}
.form-group {
	width: 100%; clear: both; margin-bottom: 15px; float: left;
}
.form-group::after {
	clear: both; display: block; content: "";
}
@media all and (min-width:641px)
{
.form-group {
	margin-bottom: 30px;
}
}
.form-group-related {
	margin-bottom: 10px;
}
@media all and (min-width:641px)
{
.form-group-related {
	margin-bottom: 20px;
}
}
.form-group-compound {
	margin-bottom: 10px;
}
fieldset {
	width: 100%; clear: both; float: left;
}
.form-title {
	margin-bottom: 30px;
}
@media all and (min-width:641px)
{
.form-title {
	margin-bottom: 45px;
}
}
.form-label {
	text-transform: none; line-height: 1.3157; font-family: "nta", Arial, sans-serif; font-size: 19px; font-weight: 400; margin-bottom: 5px; display: block;
}
@media all and (max-width:640px)
{
.form-label {
	line-height: 1.25; font-size: 16px;
}
}
.form-label-bold {
	text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 24px; font-weight: 700; margin-bottom: 0px; display: block;
}
@media all and (max-width:640px)
{
.form-label-bold {
	line-height: 1.2; font-size: 20px;
}
}
.form-label-bold .form-hint {
	text-transform: none; line-height: 1.3157; font-family: "nta", Arial, sans-serif; font-size: 19px; font-weight: 400;
}
@media all and (max-width:640px)
{
.form-label-bold .form-hint {
	line-height: 1.25; font-size: 16px;
}
}
.form-block {
	width: 100%; float: left;
}
.form-block::after {
	clear: both; display: block; content: "";
}
.form-hint {
	color: rgb(111, 119, 123); margin-bottom: 5px; display: block;
}
@media all and (min-width:641px)
{
.form-hint {
	margin-top: 8px;
}
}
.form-control {
	padding: 4px; border-radius: 0px; border: 1px solid rgb(191, 193, 195); border-image: none; width: 100%; text-transform: none; line-height: 1.3157; font-family: "nta", Arial, sans-serif; font-size: 19px; font-weight: 400; box-sizing: border-box; background-color: rgb(255, 255, 255); -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
@media all and (max-width:640px)
{
.form-control {
	line-height: 1.25; font-size: 16px;
}
}
@media all and (min-width:641px)
{
.form-control {
	width: 50%;
}
}
.form-control-3-4 {
	width: 100%;
}
@media all and (min-width:641px)
{
.form-control-3-4 {
	width: 75%;
}
}
.form-control-1-2 {
	width: 100%;
}
@media all and (min-width:641px)
{
.form-control-1-2 {
	width: 50%;
}
}
.form-control-1-4 {
	width: 25%;
}
.form-control-1-8 {
	width: 12.5%;
}
.form-radio {
	margin: 10px 0px; display: block;
}
.form-radio input {
	margin: -4px 5px 0px 0px; vertical-align: middle;
}
.form-checkbox {
	margin: 15px 0px; display: block;
}
.form-checkbox input {
	margin: -2px 5px 0px 0px; vertical-align: middle;
}
@media all and (max-width:640px)
{
.form .button {
	width: 100%;
}
}
.js-enabled .toggle-content {
	display: none;
}
.validation-summary {
	padding: 15px 30px; border: 3px solid rgb(223, 48, 52); border-image: none; margin-bottom: 30px;
}
.validation-summary ul {
	margin-top: 10px;
}
.validation-summary li {
	text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 16px; font-weight: 300;
}
.validation-summary p {
	text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 16px; font-weight: 300;
}
@media all and (max-width:640px)
{
.validation-summary li {
	line-height: 1.1428; font-size: 14px;
}
.validation-summary p {
	line-height: 1.1428; font-size: 14px;
}
}
.validation-summary p {
	margin-top: 15px; margin-bottom: 5px;
}
.validation-summary a {
	color: rgb(223, 48, 52);
}
.validation-summary .heading-small {
	margin-top: 15px;
}
.validation-message {
	color: rgb(223, 48, 52); text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 16px; font-weight: 300; display: block;
}
@media all and (max-width:640px)
{
.validation-message {
	line-height: 1.1428; font-size: 14px;
}
}
.date-of-birth label {
	margin-bottom: 5px; display: block;
}
.date-of-birth .form-group {
	width: 50px; clear: none; margin-right: 20px; float: left;
}
.date-of-birth .form-group-year {
	width: 70px;
}
.date-of-birth .form-group input {
	width: 100%;
}
.touch .date-of-birth {
	display: none;
}
.no-touch .native-date-of-birth {
	display: none;
}
.touch .native-date-of-birth {
	display: block;
}
.touch input[type='date'] {
	min-height: 36px;
}
.block-label {
	background: rgb(222, 224, 226); padding: 18px 30px 15px 45px; border: 1px solid rgb(222, 224, 226); border-image: none; clear: left; margin-top: 10px; margin-bottom: 10px; float: none; display: block; position: relative; cursor: pointer;
}
@media all and (min-width:641px)
{
.block-label {
	margin-top: 5px; margin-bottom: 5px; float: left;
}
}
.block-label:hover {
	border-color: rgb(11, 12, 12);
}
.block-label input {
	left: 15px; top: 18px; position: absolute; cursor: pointer;
}
.inline .block-label {
	clear: none; margin-right: 15px;
}
.js-enabled .add-focus {
	outline: rgb(255, 191, 71) solid 3px;
}
.js-enabled .block-label input:focus {
	
}
.js-enabled .selected {
	background: rgb(255, 255, 255); border-color: rgb(11, 12, 12);
}
table {
	width: 100%; border-collapse: collapse; border-spacing: 0;
}
table th {
	padding: 0.73em 1.05em 0.52em 0px; text-align: left; color: rgb(11, 12, 12); text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 16px; font-weight: 300; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
table td {
	padding: 0.73em 1.05em 0.52em 0px; text-align: left; color: rgb(11, 12, 12); text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 16px; font-weight: 300; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
@media all and (max-width:640px)
{
table th {
	line-height: 1.1428; font-size: 14px;
}
table td {
	line-height: 1.1428; font-size: 14px;
}
}
table th {
	font-weight: 700;
}
.button {
	margin: 0px 15px 15px 0px; padding: 0.52em 0.78em 0.26em; border-radius: 0px; border: currentColor; border-image: none; color: rgb(255, 255, 255); line-height: 1.25; font-size: 1em; text-decoration: none; vertical-align: top; display: inline-block; position: relative; cursor: pointer; box-shadow: 0px 2px 0px #003518; background-color: rgb(0, 130, 59); -webkit-font-smoothing: antialiased; -webkit-appearance: none; -webkit-border-radius: 0; -moz-border-radius: 0; -webkit-box-shadow: 0 2px 0 #003518; -moz-box-shadow: 0 2px 0 #003518;
}
.button:visited {
	background-color: rgb(0, 130, 59);
}
.button:hover {
	background-color: rgb(0, 105, 47);
}
.button:focus {
	background-color: rgb(0, 105, 47);
}
.button:active {
	top: 2px; box-shadow: 0px 0px 0px #00823b; -webkit-box-shadow: 0 0 0 #00823b; -moz-box-shadow: 0 0 0 #00823b;
}
.disabled.button {
	-ms-zoom: 1; opacity: 0.5;
}
[disabled='disabled'].button {
	-ms-zoom: 1; opacity: 0.5;
}
[disabled].button {
	-ms-zoom: 1; opacity: 0.5;
}
.disabled.button:hover {
	cursor: default; background-color: rgb(0, 130, 59);
}
[disabled='disabled'].button:hover {
	cursor: default; background-color: rgb(0, 130, 59);
}
[disabled].button:hover {
	cursor: default; background-color: rgb(0, 130, 59);
}
.disabled.button:active {
	top: 0px; box-shadow: 0px 2px 0px #003518; -webkit-box-shadow: 0 2px 0 #003518; -moz-box-shadow: 0 2px 0 #003518;
}
[disabled='disabled'].button:active {
	top: 0px; box-shadow: 0px 2px 0px #003518; -webkit-box-shadow: 0 2px 0 #003518; -moz-box-shadow: 0 2px 0 #003518;
}
[disabled].button:active {
	top: 0px; box-shadow: 0px 2px 0px #003518; -webkit-box-shadow: 0 2px 0 #003518; -moz-box-shadow: 0 2px 0 #003518;
}
.button:link {
	color: rgb(255, 255, 255);
}
.button:hover {
	color: rgb(255, 255, 255);
}
.button:focus {
	color: rgb(255, 255, 255);
}
.button:visited {
	color: rgb(255, 255, 255);
}
.button::before {
	background: none; left: 0px; top: 0px; width: 100%; height: 110%; display: block; position: absolute; content: "";
}
.button:active::before {
	top: -10%; height: 120%;
}
[rel='external'].button::after {
	margin-right: 0px; margin-left: 0px; display: none; content: none;
}
.button:focus {
	outline: rgb(255, 191, 71) solid 3px;
}
[disabled='disabled'].button {
	background: rgb(0, 130, 59);
}
[disabled='disabled'].button:focus {
	
}
.button-get-started {
	background-position: 100% 50%; padding: 0.36em 2.15em 0.21em 0.84em; text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 24px; font-weight: 700; background-image: url("../images/icons/icon-pointer.png"); background-repeat: no-repeat;
}
@media all and (max-width:640px)
{
.button-get-started {
	line-height: 1.2; font-size: 20px;
}
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.button-get-started {
	background-image: url("../images/icons/icon-pointer-2x.png"); background-size: 30px 19px;
}
}
details {
	display: block;
}
details summary {
	color: rgb(0, 94, 165); margin-bottom: 0.26em; display: inline-block; position: relative; cursor: pointer;
}
details summary:hover {
	color: rgb(46, 138, 202);
}
details summary:focus {
	outline: rgb(255, 191, 71) solid 3px;
}
details .summary {
	text-decoration: underline;
}
details .arrow {
	margin-right: 0.35em;
}
details .panel-indent {
	margin-top: 0px;
}
menu {
	padding: 0px; margin-top: 5px; margin-bottom: 20px;
}
ol {
	padding: 0px; margin-top: 5px; margin-bottom: 20px;
}
ul {
	padding: 0px; margin-top: 5px; margin-bottom: 20px;
}
ul {
	list-style-type: none;
}
ol {
	list-style-type: none;
}
ul li {
	margin-bottom: 5px;
}
ol li {
	margin-bottom: 5px;
}
.list-bullet {
	margin-left: 20px; list-style-type: disc;
}
.list-number {
	margin-left: 25px; list-style-type: decimal;
}
.panel-indent {
	margin: 30px 15px 45px 0px; padding: 10px 0px 10px 15px; clear: both; border-left-color: rgb(191, 193, 195); border-left-width: 4px; border-left-style: solid;
}
.panel-indent::after {
	clear: both; display: block; content: "";
}
.panel-indent legend {
	margin-top: 0px;
}
.panel-indent p:only-child {
	margin-bottom: 0px;
}
.panel-indent p:last-child {
	margin-bottom: 0px;
}
.panel-indent :last-child.form-group {
	margin-bottom: 0px;
}
.icon {
	background-position: 0px 0px; background-repeat: no-repeat;
}
.icon-calendar {
	width: 27px; height: 27px; background-image: url("../images/icons/icon-calendar.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-calendar {
	background-image: url("../images/icons/icon-calendar-2x.png"); background-size: 100%;
}
}
.icon-download {
	width: 30px; height: 39px; background-image: url("../images/icons/icon-file-download.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-download {
	background-image: url("../images/icons/icon-file-download-2x.png"); background-size: 100%;
}
}
.icon-important {
	width: 34px; height: 34px; background-image: url("../images/icons/icon-important.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-important {
	background-image: url("../images/icons/icon-important-2x.png"); background-size: 100%;
}
}
.icon-information {
	width: 27px; height: 27px; background-image: url("../images/icons/icon-information.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-information {
	background-image: url("../images/icons/icon-information-2x.png"); background-size: 100%;
}
}
.icon-locator {
	width: 26px; height: 36px; background-image: url("../images/icons/icon-locator.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-locator {
	background-image: url("../images/icons/icon-locator-2x.png"); background-size: 100%;
}
}
.icon-search {
	width: 30px; height: 22px; background-image: url("../images/icons/icon-search.png"); background-color: black;
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-search {
	background-image: url("../images/icons/icon-search-2x.png"); background-size: 100%;
}
}
.icon-pointer {
	width: 30px; height: 19px; background-image: url("../images/icons/icon-pointer.png"); background-color: black;
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-pointer {
	background-image: url("../images/icons/icon-pointer-2x.png"); background-size: 100%;
}
}
.icon-pointer-black {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-pointer-black.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-pointer-black {
	background-image: url("../images/icons/icon-pointer-black-2x.png"); background-size: 100%;
}
}
.icon-step-1 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-1.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-1 {
	background-image: url("../images/icons/icon-steps/icon-step-1-2x.png"); background-size: 100%;
}
}
.icon-step-2 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-2.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-2 {
	background-image: url("../images/icons/icon-steps/icon-step-2-2x.png"); background-size: 100%;
}
}
.icon-step-3 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-3.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-3 {
	background-image: url("../images/icons/icon-steps/icon-step-3-2x.png"); background-size: 100%;
}
}
.icon-step-4 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-4.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-4 {
	background-image: url("../images/icons/icon-steps/icon-step-4-2x.png"); background-size: 100%;
}
}
.icon-step-5 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-5.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-5 {
	background-image: url("../images/icons/icon-steps/icon-step-5-2x.png"); background-size: 100%;
}
}
.icon-step-6 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-6.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-6 {
	background-image: url("../images/icons/icon-steps/icon-step-6-2x.png"); background-size: 100%;
}
}
.icon-step-7 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-7.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-7 {
	background-image: url("../images/icons/icon-steps/icon-step-7-2x.png"); background-size: 100%;
}
}
.icon-step-8 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-8.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-8 {
	background-image: url("../images/icons/icon-steps/icon-step-8-2x.png"); background-size: 100%;
}
}
.icon-step-9 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-9.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-9 {
	background-image: url("../images/icons/icon-steps/icon-step-9-2x.png"); background-size: 100%;
}
}
.icon-step-10 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-10.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-10 {
	background-image: url("../images/icons/icon-steps/icon-step-10-2x.png"); background-size: 100%;
}
}
.icon-step-11 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-11.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-11 {
	background-image: url("../images/icons/icon-steps/icon-step-11-2x.png"); background-size: 100%;
}
}
.icon-step-12 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-12.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-12 {
	background-image: url("../images/icons/icon-steps/icon-step-12-2x.png"); background-size: 100%;
}
}
.icon-step-13 {
	width: 23px; height: 23px; background-image: url("../images/icons/icon-steps/icon-step-13.png");
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.icon-step-13 {
	background-image: url("../images/icons/icon-steps/icon-step-13-2x.png"); background-size: 100%;
}
}
.page-header {
	margin: 1em 1em 3em; padding: 0px 0px 2em; border-bottom-color: rgb(223, 48, 52); border-bottom-width: 5px; border-bottom-style: solid;
}
@media all and (min-width:769px)
{
.page-header {
	margin: 1em 2em 3em;
}
}
.page-header .hgroup {
	padding: 0px;
}
.page-header .hgroup h1 {
	color: rgb(11, 12, 12); text-transform: none; line-height: 1.0416; padding-top: 0.7rem; padding-bottom: 1.3rem; font-family: "nta", Arial, sans-serif; font-size: 48px; font-weight: 700;
}
@media all and (max-width:640px)
{
.page-header .hgroup h1 {
	line-height: 1.0937; font-size: 32px;
}
}
.page-header .hgroup h2.subtitle {
	margin: 0px; color: rgb(111, 119, 123); text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 24px; font-weight: 400;
}
@media all and (max-width:640px)
{
.page-header .hgroup h2.subtitle {
	line-height: 1.2; font-size: 20px;
}
}
.breadcrumb {
	background: white; margin: 0px; padding: 1em 2em 0px; list-style-type: none; list-style-image: none;
}
.breadcrumb li {
	margin: 0px; padding: 0px; display: inline-block;
}
#global-breadcrumb {
	margin: 0px 1em; padding: 0.75em 0px; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid; z-index: 50; background-color: rgb(255, 255, 255);
}
@media all and (min-width:769px)
{
#global-breadcrumb {
	margin: 0px 2em;
}
}
#global-breadcrumb nav {
	margin: 0px auto; padding: 0px; border: currentColor; border-image: none; max-width: 960px;
}
#global-breadcrumb nav ol {
	margin: 0px; padding-left: 0px;
}
#global-breadcrumb nav ol li {
	background-position: 100% 50%; list-style: none; text-transform: none; line-height: 1.25; padding-right: 1em; font-family: "nta", Arial, sans-serif; font-size: 1.6rem; font-weight: 300; margin-right: 0.5em; margin-left: 0px; float: left; background-image: url("https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png"); background-repeat: no-repeat;
}
@media all and (max-width:640px)
{
#global-breadcrumb nav ol li {
	line-height: 1.1428; font-size: 1.4rem;
}
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
#global-breadcrumb nav ol li {
	background-image: url("https://assets.digital.cabinet-office.gov.uk/static/separator-2x-2ff66846b80b66edba8ce56d29daa935.png"); background-size: 6px 11px;
}
}
#global-breadcrumb nav ol li a {
	color: rgb(11, 12, 12);
}
#global-breadcrumb nav ol li strong {
	font-weight: normal;
}
#global-breadcrumb nav ol li:last-child {
	margin-right: 0px; background-image: none;
}
#global-breadcrumb {
	margin-right: 15px; margin-left: 15px;
}
.page-header {
	margin-right: 15px; margin-left: 15px;
}
@media all and (min-width:641px)
{
#global-breadcrumb {
	margin-right: 30px; margin-left: 30px;
}
.page-header {
	margin-right: 30px; margin-left: 30px;
}
}
#global-breadcrumb li {
	margin-bottom: 0px;
}
.heading-with-border {
	padding-top: 1.25em; border-top-color: rgb(191, 193, 195); border-top-width: 1px; border-top-style: solid;
}
.tight {
	margin-bottom: 0px;
}
.list-bullet {
	margin-bottom: 45px;
}
.example {
	padding: 30px 15px 15px; border: 1px solid rgb(191, 193, 195); border-image: none; overflow: hidden; margin-top: 15px; margin-bottom: 45px; position: relative;
}
@media all and (min-width:641px)
{
.example {
	padding-right: 30px; padding-left: 30px;
}
}
.example::after {
	clear: both; display: block; content: "";
}
@media all and (min-width:641px)
{
.example {
	padding-top: 45px; padding-bottom: 30px;
}
}
.example::before {
	background: rgb(191, 193, 195); padding: 0.21em 0.78em; left: 0px; top: 0px; color: white; text-transform: none; line-height: 1.4285; font-family: "nta", Arial, sans-serif; font-size: 14px; font-weight: 400; position: absolute; content: "EXAMPLE";
}
@media all and (max-width:640px)
{
.example::before {
	line-height: 1.25; font-size: 12px;
}
}
.example .highlight {
	color: rgb(0, 118, 192); font-style: normal;
}
.example-grid p {
	background: url("../../public/images/examples/grid.png") 0px 0px; width: 100%; text-indent: -999em; overflow: hidden; margin-bottom: 0px; min-height: 30px;
}
@media all and (min-width:641px)
{
.example-grid p {
	min-height: 60px;
}
}
.example .panel-indent {
	margin: 0px;
}
.swatch {
	border-radius: 100%; width: 60px; height: 60px; -webkit-border-radius: 100%; -moz-border-radius: 100%;
}
@media all and (max-width:640px)
{
.swatch {
	clear: both; margin-right: 15px; margin-bottom: 15px; float: left;
}
}
@media all and (min-width:641px)
{
.swatch {
	margin: 0px auto 15px;
}
}
.swatch-purple {
	background-color: rgb(46, 53, 139);
}
.swatch-mauve {
	background-color: rgb(111, 114, 175);
}
.swatch-fuschia {
	background-color: rgb(145, 43, 136);
}
.swatch-pink {
	background-color: rgb(213, 56, 128);
}
.swatch-baby-pink {
	background-color: rgb(244, 153, 190);
}
.swatch-red {
	background-color: rgb(177, 14, 30);
}
.swatch-mellow-red {
	background-color: rgb(223, 48, 52);
}
.swatch-orange {
	background-color: rgb(244, 119, 56);
}
.swatch-brown {
	background-color: rgb(181, 136, 64);
}
.swatch-yellow {
	background-color: rgb(255, 191, 71);
}
.swatch-green {
	background-color: rgb(0, 100, 53);
}
.swatch-grass-green {
	background-color: rgb(133, 153, 75);
}
.swatch-turquoise {
	background-color: rgb(40, 161, 151);
}
.swatch-light-blue {
	background-color: rgb(43, 140, 196);
}
.swatch-alpha {
	background-color: rgb(213, 56, 128);
}
.swatch-beta {
	background-color: rgb(244, 119, 56);
}
.swatch-error {
	background-color: rgb(223, 48, 52);
}
.swatch-focus {
	background-color: rgb(255, 191, 71);
}
.swatch-button-colour {
	background-color: rgb(0, 130, 59);
}
.swatch-black {
	background-color: rgb(11, 12, 12);
}
.swatch-grey-1 {
	background-color: rgb(111, 119, 123);
}
.swatch-grey-2 {
	background-color: rgb(191, 193, 195);
}
.swatch-grey-3 {
	background-color: rgb(222, 224, 226);
}
.swatch-grey-4 {
	background-color: rgb(248, 248, 248);
}
.swatch-white {
	border: 1px solid rgb(222, 224, 226); border-image: none; background-color: rgb(255, 255, 255);
}
.swatch-text-colour {
	background-color: rgb(11, 12, 12);
}
.swatch-text-secondary {
	background-color: rgb(111, 119, 123);
}
.swatch-page-colour {
	border: 1px solid rgb(222, 224, 226); border-image: none; background-color: rgb(255, 255, 255);
}
.swatch-button-colour {
	background-color: rgb(0, 130, 59);
}
.swatch-link-colour {
	background-color: rgb(0, 94, 165);
}
.swatch-link-colour-visited {
	background-color: rgb(46, 138, 202);
}
.swatch-link-colour-hover {
	background-color: rgb(46, 138, 202);
}
.swatch-border-colour {
	background-color: rgb(191, 193, 195);
}
.swatch-panel-colour {
	background-color: rgb(222, 224, 226);
}
.swatch-highlight-colour {
	background-color: rgb(248, 248, 248);
}
@media all and (min-width:641px)
{
.swatch-wrapper {
	width: 20%; text-align: center; float: left;
}
}
.swatch-wrapper .heading-small {
	margin-bottom: 0.52em;
}
.swatch-wrapper ul {
	padding-bottom: 15px;
}
@media all and (max-width:640px)
{
.swatch-wrapper ul {
	padding-top: 10px; min-height: 50px;
}
}
.swatch-wrapper li {
	text-transform: none; line-height: 1.25; font-family: "nta", Arial, sans-serif; font-size: 16px; font-weight: 300;
}
@media all and (max-width:640px)
{
.swatch-wrapper li {
	line-height: 1.1428; font-size: 14px;
}
}
.swatch-wrapper b {
	text-transform: uppercase; font-weight: bold;
}
.example-images img {
	vertical-align: top; max-width: 100%;
}
.example-icons .heading-medium {
	margin-top: 0px;
}
.icon-list li {
	margin-bottom: 5px; position: relative; min-height: 50px;
}
.icon-list li::after {
	clear: both; display: block; content: "";
}
.icon-list .icon {
	margin-right: 20px; vertical-align: top; display: inline-block;
}
.icon-list .icon-text {
	left: 20%; top: 0px; margin-top: 0px; position: absolute;
}
.data .bold-xlarge {
	line-height: 0.8;
}
.data .bold-xxlarge {
	line-height: 0.8;
}
.example .data p {
	margin-bottom: 0px;
}
.example .form-group {
	margin-bottom: 0px;
}
.form-group-example .form-group {
	margin-bottom: 30px;
}
@media all and (min-width:641px)
{
.form-group-example .form-group {
	margin-bottom: 45px;
}
}
.form-group-example .form-group-related {
	margin-bottom: 10px;
}
@media all and (min-width:641px)
{
.form-group-example .form-group-related {
	margin-bottom: 20px !important;
}
}
.example legend.form-label {
	margin-bottom: 20px;
}
.example-button .button {
	margin-bottom: 15px;
}
.example-button .heading-small {
	margin-top: 0px;
}
.example-button .swatch-wrapper {
	width: 100%;
}
.example-button ul {
	padding-bottom: 0px;
}
