.beta-banner {
	padding-top: 8px; padding-bottom: 8px; background-color: rgb(244, 119, 56);
}
.beta-banner p {
	margin: 0px; color: rgb(11, 12, 12); text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: 300;
}
.beta-banner strong {
	font-weight: bold;
}
.beta-banner a {
	color: rgb(11, 12, 12);
}
.beta-banner a:link {
	color: rgb(11, 12, 12);
}
.beta-banner a:visited {
	color: rgb(11, 12, 12);
}
.beta-banner a:active {
	color: rgb(11, 12, 12);
}
.days-of-week .form-group .block-label {
	
}
table.date-period {
	
}
ol.bulleted {
	list-style-type: none;
}
ol.bulleted li {
	padding-left: 2.5em; margin-bottom: 1em;
}
ol.bulleted li:nth-child(1) {
	background: url("/static/public/images/icons/icon-steps/icon-step-1.png") no-repeat 3px 5px;
}
ol.bulleted li:nth-child(2) {
	background: url("/static/public/images/icons/icon-steps/icon-step-2.png") no-repeat 3px 5px;
}
ol.bulleted li:nth-child(3) {
	background: url("/static/public/images/icons/icon-steps/icon-step-3.png") no-repeat 3px 5px;
}
.summary ul.benefit-item-list {
	list-style: none;
}
.bolder {
	font-weight: bold;
}
#global-header #logo:hover {
	padding-bottom: 1px; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: solid;
}
#global-header #logo:focus {
	padding-bottom: 1px; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: solid;
}
.complete article {
	padding-bottom: 2em; min-height: 300px;
}
.complete header {
	background: rgb(40, 161, 151) !important; margin: 1em 0px 2em; padding: 1em; color: rgb(255, 255, 255); position: relative; max-width: 640px;
}
@media all and (min-width:641px)
{
.complete header {
	margin-right: 30px; margin-left: 30px;
}
}
.complete header h1 {
	text-align: center;
}
.complete header h3 {
	text-align: center;
}
.complete header p {
	text-align: center;
}
.complete header h1 {
	margin: 0px auto 0.5em; background-size: 20px;
}
.complete header h3 {
	margin: 0px auto 0.5em; background-size: 20px;
}
@media all and (min-width:641px)
{
.complete header h1 {
	
}
.complete header h3 {
	
}
}
.complete header h1 {
	text-transform: none; line-height: 1.1111; font-family: "nta", Arial, sans-serif; font-size: 36px; font-weight: 700;
}
@media all and (max-width:640px)
{
.complete header h1 {
	line-height: 1.0416; font-size: 24px;
}
}
.complete header h3 {
	text-transform: none; line-height: 1.1111; font-family: "nta", Arial, sans-serif; font-size: 27px; font-weight: 700;
}
@media all and (max-width:640px)
{
.complete header h3 {
	line-height: 1.1111; font-size: 18px;
}
}
.complete header p {
	padding: 0px; color: rgb(255, 255, 255); text-transform: none; line-height: 1.3157; font-family: "nta", Arial, sans-serif; font-size: 19px; font-weight: 700;
}
@media all and (max-width:640px)
{
.complete header p {
	line-height: 1.25; font-size: 16px;
}
}
.complete header p span {
	margin: 0px 0px 10px; text-transform: none; line-height: 1.1111; font-family: "nta", Arial, sans-serif; font-size: 36px; font-weight: 700; display: block;
}
@media all and (max-width:640px)
{
.complete header p span {
	line-height: 1.0416; font-size: 24px;
}
}
@media all and (max-width:640px)
{
.complete header p span {
	font-size: 36px;
}
}
.complete header.bunting {
	padding-top: 5em;
}
@media all and (max-width:550px)
{
.complete header.bunting {
	padding-top: 4em;
}
}
@media all and (max-width:450px)
{
.complete header.bunting {
	padding-top: 3em;
}
}
.complete p.intro {
	padding-bottom: 1.5em; margin-bottom: 1.5em; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
.complete div.footnote {
	padding-top: 1.5em; margin-top: 1.5em; border-top-color: rgb(191, 193, 195); border-top-width: 1px; border-top-style: solid;
}
.complete div.footnote h3 {
	margin: 0px 0px 1em;
}
.complete .email {
	background: url("/static/public/images/icon-email.png") no-repeat 0px 3px; padding-left: 34px;
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.complete .email {
	background-image: url("/static/public/images/icon-email-2x.png"); background-size: 24px 24px;
}
}
