.area {
  font-family: 'nta', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  clear: both;
  background: #912b88;
  color: white;
  border: dashed #fff 1px;
  padding: 1em;
  box-sizing: border-box; }

/* area styles specific to certain ones */
main.area {
  min-height: 16em; }

.header-proposition {
  clear: none;
  min-height: 6em; }


.rps-calculation {
    border: 1px solid #a2a2a2;
    margin: 30px 0 30px;
    /*outline: 15px solid #f8f8f8;*/
    overflow: hidden;
    padding: 15px 15px 0px 15px;
    position: relative;
}

.panel-indent-summary {
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin: 30px 15px 45px 0; }
  .panel-indent:after {
    content: "";
    display: block;
    clear: both; }
  @media (min-width: 641px) {
    .panel-indent {
      padding-left: 20px; } }


.td-summary-q {
	width: 30%;
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none; }
	@media (max-width: 640px) {
	  .font-small {
	    font-size: 16px;
	    line-height: 1.25; } }

.td-summary-a {
	width: 30%;
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none;
	font-weight: 700; }
	@media (max-width: 640px) {
	  .bold-small {
	    font-size: 16px;
	    line-height: 1.25; }}

.td-summary-change {
	width: 10%;
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none; }
	@media (max-width: 640px) {
	  .font-small {
	    font-size: 16px;
	    line-height: 1.25; } }
	    
	    
	    
	    
	    
	    
	    