/* ------------------------ Payment Overide Styles Start - V1 ------------------------ */

.panel-primary {
	margin-bottom: 10px;
}

.panel-primary h2 {
	font-size: 18px;
	margin: 0 0 10px 0;
}

.panel-primary .payment-amount {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0px;
}

.panel-primary .text-muted {
	margin-bottom: 10px;
	display: block;
}

.panel-primary .updated-text {
	margin-bottom: 20px;
	font-size: 12px;
}

.panel-primary .button {
	margin: 0;
}

/* ------------------------ Payment Overide Styles End - V1 ------------------------ */

/* ------------------------ Payment Overide Styles Start - V2 ------------------------ */
.payment-summary-small {
  border: 10px solid #005EA5;
  background-color: #2E8ACA;
  padding: 15px;
  margin-bottom: 10px;
}

#proposition-name {
	float: right;
}

.payment-summary-small h2 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 0;
	margin-top: 5px;
	color: white;
}

.payment-summary-small h3 {
  font-size: 18px;
	color: white;
	opacity: 0.7;
}

/*.payment-summary-small .payment-info {
	font-weight: 700;
	color: white;
}*/

.payment-summary-small .payment-amount {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0px;
		color: white;
}

.payment-summary-small .updated-text {
	margin-bottom: 20px;
	font-size: 12px;
	opacity: 0.9;
	color: #ffffff;
}

.payment-summary-small .button {
    margin: 0px;
}

/* ------------------------ Payment Overide Styles End - V2 ------------------------ */

/* ------------------------ General CSS changes Start ------------------------ */
.form-hint {
	font-size: 16px;
	margin-bottom: 30px;
}

/* ------------------------ General CSS changes End ------------------------ */
