/* ------------------------ EBF Overide Styles Start ------------------------ */

#proposition-name {
	float: right;
}

.link-container .icon {
	display: inline-block;
	border-radius: 50%;
	width: 1.65em;
	height: 1.65em;
	background: black;
	/*margin-right: 0.5em;*/
	color: white;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	font-style: normal;
	padding-top: 0.2em;
}

.link-container .heading-small {
	float: left;
	width: 100%;
	margin: 0 0 0 0.5em;
}

.link-container a {
	float: left;
	width: 100%;
	margin: 0 0 0 0.5em;
}

/* ------------------------ EBF Overide Styles End ------------------------ */
