/* ------------------------ EBF Overide Styles - Start ------------------------ */

.col-sm-8{
  padding-left:0px!important;
}

#proposition-name {
	float: right;
}

.link-container .icon {
	display: inline-block;
	border-radius: 50%;
	width: 1.65em;
	height: 1.65em;
	background: black;
	/*margin-right: 0.5em;*/
	color: white;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	font-style: normal;
	padding-top: 0.2em;
}

.link-container .heading-small {
	float: left;
	width: 100%;
	margin: 0 0 0 0.5em;
}

.link-container a {
	float: left;
	width: 100%;
	margin: 0 0 0 0.5em;
}

table thead td {
	font-weight: bold;
}

table tr td {
	vertical-align: top;
	line-height: normal;
	padding: 0.73684em 1.05263em 0.73684em 0;
}

table tr td .form-hint {
	margin: 0;
	font-size: 14px;
}

table.table .glyphicon {
	margin-right: 3px;
}

table.table .label {
	margin-right: 0;
	font-size: 60%;
	width: 100%;
}

table.table .label.indicator {
	width: auto;
}

table.table tr th:first-of-type, table.table tr td:first-of-type {
	padding-left: 0;
}

table.table tr th:last-of-type, table.table tr td:last-of-type {
	padding-right: 0;
}

table.table tr.approval-needed {
	/*opacity: 0.75;*/
	background: #e7e7e7;
}

.glyphicon.approved {
	color: green;
}

nav.navbar .glyphicon {
	margin-right: 0;
}

nav.navbar .form-control{
	height: 35px;
}

nav.navbar ul.pagination {
	margin: 10px 0;
	float: right;
	height: 35px;
}

nav.navbar ul.pagination.see-all {
	margin-left: 10px;
}

nav.navbar ul.pagination li a, nav.navbar ul.pagination li a span {
	font-size: 16px !important;
}

.navbar-form {
	margin: 10px 0;
	padding: 0;
}

.label.label-info {
	color: white;
	background: #337ab7;
	border-color: #337ab7;
	padding: 7px 10px;
	display: inline-block;
}

.label.label-info.action {
	background: #a94442;
	border-color: #a94442;
}

.label.label-success {
	color: white;
	background: green;
	border-color: green;
	padding: 7px 10px;
	display: inline-block;
}

#status .well {
	border-radius: 0;
	margin: 20px 0 30px 0;
}

#status .well input {
	width: 100%;
}

.validation-summary ol {
	margin-bottom: 0;
}

.validation-summary h2 {
	margin-top: 0;
}

.subject .headin-medium {
	margin-top: 0;
}

input.log-in {
	width: 50%;
}

input.log-in-email {
 width: 80%;
}

#panel-error-empty ul {
 margin-bottom: 0;
}

#proposition-name.user-name {
 font-weight: normal !important;
}

.intro-banner {
 margin: 0;
 display: inline-block;
 width: 100%;
}

.intro-banner h1 {
	margin: 0 0 30px 0;
	/*height: 50px;*/
}

.intro-banner .panel-indent {
 margin: 0 15px 0 0;
}

.seperator {
	border-left: 1px solid #dfdfdf;
}

.inner-block .heading-medium {
	margin-bottom: 0;
}

.controls-delete, .controls-edit {
  cursor: pointer;
}

.form-inline .form-group {
  margin: 10px 0 20px 0;
}

input[type="radio"] {
  margin-right: 10px;
}

/* ------------------------ EBF Overide Styles - End ------------------------ */


/* ------------------------ Gov Highlight Box - Start ------------------------ */

.govuk-box-highlight {
	margin: 0 0 1em 0;
	padding: 1.5em 2em;
	color: #fff;
	text-align: center;
}

.govuk-box-highlight.top {
	margin-top: 2.25em;
}

.govuk-box-highlight h1.bold-large {
	margin: 0 0 0.35em 0;
}

.govuk-box-highlight h2.bold-large {
	margin: 0 0 0.35em 0;
}

.govuk-box-highlight.processing {
	background: #337ab7;
}

.govuk-box-highlight.awaiting {
	background: #8a6d3b;
}

.govuk-box-highlight.made {
	background: #3c763d;
}

.govuk-box-highlight.declined {
	background: #a94442;
}

.govuk-box-highlight p span {
	color: #fff;
}

.govuk-box-highlight p:last-of-type {
	margin-bottom: 0;
}

/* ------------------------ Gov Highlight Box - End ------------------------ */

/* ------------------------ Inline Edit - Start ------------------------ */

.edit {
	cursor: pointer;
}

.edit-input {
    display:none;
}

.control-label .text-info {
	display: inline-block;
}

textarea {
  resize: none;
	width: 100%;
	border-color: #dfdfdf;
}

table.table label {
	font-weight: normal;
}

.highlight {
	background: black;
	color: white;
}

/* ------------------------ Inline Edit - End ------------------------ */

/* ------------------------ Adjudicator - Start ------------------------ */

.ebf-intro {
  display: inline-block;
  width: 100%;
}

.ebf-intro h3 {
  margin-top: 20px;
}

.ebf-intro .panel-indent {
  margin: 10px 15px 15px 0;
}

/* ------------------------ Adjudicator - End ------------------------ */

/* ------------------------ Modal - Start ------------------------ */

.modal .heading-small {
  margin: 0 0 10px 0;
}

.modal .modal-header, .modal .modal-footer {
  border-top: 0;
  border-bottom: 0;
  text-align: left;
}

.modal .modal-footer {
  padding: 0 15px 15px 15px;
}

.modal .button {
  margin-bottom: 0;
}

.modal .text-link {
  margin: 0;
  border: none;
  background: none;
  padding: 0;
  color: #005ea5;
  margin-top: 10px;
  text-decoration: underline;
}

.modal .modal-content {
  border-radius: 0;
}

/* ------------------------ Modal - End ------------------------ */

/* ------------------------ Upload Function - Start ------------------------ */

#dragandrop {
	border: solid 3px;
	border-color:#DEE0E2;
	background-color: #DEE0E2;
	width: auto;
	min-height: 70px;
	color: #000000;
	text-align: center;
	/*vertical-align: middle;*/
	padding: 60px 10px 60px 10px;
	margin: 30px 0 20px 0;
	font-weight: bold;
	/*
	-webkit-box-shadow: 0 2px 0 #003518;
	-moz-box-shadow: 0 2px 0 #003518;
	box-shadow: 0 2px 0 #003518;*/
}

.statusbar2 {
	border-top: none;
	border-bottom: 1px solid #BFC1C3;
	border-left: 0;
	/*min-height: 25px;*/
	width: auto;
	padding: 10px 0 10px 0;
	vertical-align: top;
	font-size: 16px;
}

.statusbar2-title {
	font-weight:600;
}

.actionsh, .abort {
  width: 30%;
  display: inline-block;
  margin-left: 3%;
}

.filename2 {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	/*min-height: 25px;*/
	max-height: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  margin-right: 3%;
}

.progressBar2 {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	overflow: hidden;
  margin-right: 3%;
}
/* ------------------------ Upload Function - End ------------------------ */

/* ------------------------ Admin Control Panel - Start ------------------------ */

.header-panel {
  margin-bottom: 20px;
}

.header-panel h1 {
  margin-bottom: 20px;
}

.header-panel .panel-indent {
  margin-bottom: 0;
}

/*.panel.with-nav-tabs .nav-tabs {
  margin-top: 10px;
}*/

.panel-body {
  padding: 15px 20px;
}

table.application-summary tr td {
  padding: 5px 1.05263em 5px 0;
  border-bottom: 0;
}

.application {
  border: 1px solid #ddd;
  background: #f5f5f5;
  border-radius: 5px;
  margin: 15px 0;
  background: white;
}

.application h2.heading-medium {
  margin: 0 0 10px 0;
  font-weight: normal;
}

.application-left {
  padding: 20px !important;
  background: #f5f5f5;
  border-radius: 5px;
  border-right: 1px solid #ddd;
}

.application-right {
  padding: 20px !important;
  /*background: white;
  border-radius: 0 5px 5px 0;*/
}

.application-right label > input {
  margin-right: 10px;
}

/*.completion-message {
	margin-bottom: 0;
}*/

.completion-message p {
	font-size: 19px;
	float: left;
	margin-top: 14px;
}

.completion-message i.glyphicon {
	font-size: 3em;
	color: #b1b3b6;
	margin-right: 10px;
	float: left;
}


/* ------------------------ Admin Control Panel - End ------------------------ */
